<template>
    <div class="content-page">
        <b-overlay :show="this.IsLoading" rounded="sm">
            <div class="card p-4">
                <FullCalendar :options='calendarOptions'>
                    <template v-slot:eventContent='arg'>
                        <div class="content-date w-100 d-flex align-items-center justify-content-between">
                            <div><b>{{ arg.event.title }}</b> - <span>{{ getTimeWithoutDate(arg.event.start) }}</span></div>
                        </div>
                    </template>
                </FullCalendar>
            </div>
        </b-overlay>
    </div>
</template>

<script>
import FullCalendar from '@fullcalendar/vue'
import dayGridPlugin from '@fullcalendar/daygrid'
import timeGridPlugin from '@fullcalendar/timegrid'
import interactionPlugin from '@fullcalendar/interaction'
import { INITIAL_EVENTS, createEventId } from './event-utils'
export default {
    components: {
        FullCalendar // make the <FullCalendar> tag available
    },
    data() {
        return {
            schedule: [
                {
                    id: '',
                    code: 'WT001',
                    staffCode: 'ST01',
                    staffName: 'Bình',
                    startDate: '2023-04-04T08:00:00',
                    endDate: '2023-04-04T16:00:00',
                }
            ],
            calendarOptions: {
                plugins: [
                    dayGridPlugin,
                    timeGridPlugin,
                    interactionPlugin // needed for dateClick
                ],
                headerToolbar: {
                    left: 'title',
                    center: '',
                    right: 'prev,next today'
                    // right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                initialView: 'dayGridMonth',
                initialEvents: [
                    // {
                    //     id: '1',
                    //     title: 'Timed event',
                    //     start: '2023-04-04T12:00:00',
                    // },
                    // {
                    //     id: '1',
                    //     title: 'Timed event',
                    //     start: '2023-04-04T08:00:00',
                    // },
                ],
                editable: true,
                selectable: true,
                selectMirror: true,
                dayMaxEvents: true,
                weekends: true,
                locale: 'vi',
                select: this.handleDateSelect,
                eventClick: this.handleEventClick,
                eventsSet: this.handleEvents,
                // eventAdd: this.AddData,
                /*
                eventChange:
                eventRemove:
                */
            },
            currentEvents: [

            ]
        }
    },
    methods: {
        handleDateSelect(selectInfo) {
            console.log(selectInfo);
            console.log('handleDateSelect');
            let title = prompt('Please enter a new title for your event')
            let calendarApi = selectInfo.view.calendar
            calendarApi.unselect() // clear date selection
            if (title) {
                calendarApi.addEvent({
                    id: createEventId(),
                    title,
                    start: `${selectInfo.startStr}T08:00:00`,
                    end: `${selectInfo.startStr}T16:00:00`,
                    allDay: false,
                    backgroundColor: '#000'
                })
            }
        },
        handleEventClick(clickInfo) {
            console.log('handleEventClick');
            console.log(clickInfo);
            if (confirm(`Are you sure you want to delete the event '${clickInfo.event.title}'`)) {
                clickInfo.event.remove()
            }
        },
        handleEvents(events) {
            this.currentEvents = events
        }
    },
    created() {
        // Add mark
        this.schedule.forEach(element => {
            this.calendarOptions.initialEvents.push({
                id: element.code,
                title: element.staffName,
                start: element.startDate,
                end: element.endDate,
                allDay: false,
                backgroundColor: '#000'
            })
        });
    }
}
</script>

<style></style>
