<template>
  <div class="content-page">
    <b-overlay :show="this.IsLoading" rounded="sm">
      <div class="row mb-4">
        <div class="col-12">
          <div class="card">
            <div
              class="card-body pt-2 pb-2 d-flex align-items-center justify-content-between"
            >
              <div class="left">
                <i
                  @click="goTo('/product')"
                  class="fa-sharp fa fa-arrow-left cursor-pointer mr-3"
                ></i>
                <i @click="save()" class="fa fa-save cursor-pointer mr-3"></i>
                <i class="fa fa-trash cursor-pointer mr-3"></i>
              </div>
              <div class="right">
                <i
                  class="fa fa-upload cursor-pointer"
                  @click="changeTypeInsert()"
                ></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12"></div>
      </div>
    </b-overlay>
  </div>
</template>

<script>
export default {}
</script>

<style></style>
