<template>
  <div class="content-page">
    <b-overlay :show="this.IsLoading" rounded="sm">
      <div class="row mb-4">
        <div class="col-md-3">
          <SummaryItem
            class="bg-01"
            :pFigure="metadata.totalCount"
            pName="Total Product"
          ></SummaryItem>
        </div>
        <div class="col-md-3">
          <SummaryItem
            class="bg-03"
            :pFigure="totalCategory"
            pName="Total Category"
          ></SummaryItem>
        </div>
        <div class="col-md-3">
          <SummaryItem
            class="bg-02"
            :pFigure="activeProduct"
            pName="Active Product"
          ></SummaryItem>
        </div>
        <div class="col-md-3">
          <SummaryItem
            class="bg-04"
            :pFigure="30"
            pName="Added in week"
          ></SummaryItem>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-8">
          <div class="card d-flex justify-content-center">
            <div class="action px-4 d-flex align-items-center">
              <i class="fa fa-cog cursor-pointer mr-3"></i>
              <i
                @click="goTo('/promotion/create')"
                class="fa fa-plus cursor-pointer mr-3"
              ></i>
              <i class="fa fa-eye cursor-pointer mr-3"></i>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card">
            <div class="card-header pb-0 pt-2"></div>
            <div class="action px-4">
              <b-form-input
                id="input-search"
                v-model="searchText"
                type="text"
                placeholder="Search ..."
                required
                :disabled="IsEdit"
              ></b-form-input>
            </div>
            <div class="card-body pt-0 pb-2"></div>
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12">
          <div class="card">
            <create-table :metadata="metadata" @select-page="selectPage">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="opacity-7 ps-2 w-5">
                      <b-form-checkbox @change="changeSelect($event)" />
                    </th>
                    <th
                      class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                    >
                      No
                    </th>
                    <th
                      class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                    >
                      Code
                    </th>
                    <th
                      class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                    >
                      Tên
                    </th>
                    <th
                      class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                    >
                      Tên danh mục
                    </th>
                    <th
                      class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 w-20"
                    >
                      Mô tả
                    </th>
                    <th
                      class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 w-10"
                    >
                      Giá
                    </th>
                    <th
                      class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 w-5"
                    >
                      Trạng thái
                    </th>
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
              </table>
            </create-table>
          </div>
        </div>
      </div>
    </b-overlay>
  </div>
</template>

<script>
export default {
  data: () => ({
    ecoParameters: {
      pageNumber: 1,
      pageSize: 10,
      skip: 0,
      top: 10,
      orderBy: '',
      filter: '',
      isDropdown: false,
      searchValue: '',
      searchText: '',
    },
    metadata: {
      currentPage: 0,
      hasNext: false,
      hasPrevious: false,
      pageSize: 0,
      totalCount: 0,
      totalPages: 0,
    },
    lstItem: [],
    searchText: '',
  }),
  async created() {
    await this.getData()
  },
  watch: {
    async searchText() {
      this.ecoParameters.searchText = this.searchText
      await this.getData()
    },
  },
  methods: {
    async getData() {},
  },
}
</script>

<style></style>
