<template>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>
</template>
 
<script>
export default {}
</script>

<style></style>
