.require label:first-child:before {
  content: '* ';
  color: red;
}

.status {
  .icon {
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
}

.active {
  .icon {
    background-color: #28a745;
  }
}

.inactive {
  .icon {
    background-color: #6c757d;
  }
}

.ic-color{
  color: #333333 !important;
}

.valid-feedback {
  font-size: 12px !important;
}

.table {
  .footer {
    border: none !important;
  }

  tr:not(.empty) {
    transition: 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: rgba(199, 199, 199, 0.2);
    }
  }
}

.custom-control-input:checked~.custom-control-label::before {
  border-color: #e3306f !important;
  background-color: #e3306f !important;
}

.link {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.card {
  height: 100% !important;
}

.image-preview {
  z-index: 99991 !important;
}

// Datetime Picker
.bootstrap-datetimepicker-widget{
  border: 1px solid #e3306f !important;
}

// OVERALL COLOR
.bg-01 {
  background-color: #ffc8d0;
  border: 1px solid #ffa4b1;
}

.bg-02 {
  background-color: #8ac09b;
  border: 1px solid #5c8669;
}

.bg-03 {
  background-color: #ffe7b6;
  border: 1px solid #ddbc79;
}

.bg-04 {
  background-color: #e4c6ff;
  border: 1px solid #ae80d8;
}

.card-overall {
  width: 100%;
  height: 100px;
  border-radius: 10px;
}