<template>
  <body class="g-sidenav-show bg-gray-200">
    <aside
      class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-gradient-dark"
      id="sidenav-main"
    >
      <div class="sidenav-header">
        <i
          class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
          aria-hidden="true"
          id="iconSidenav"
        ></i>
        <a class="navbar-brand m-0" @click="goTo('/dashboard')" target="_blank">
          <span class="ms-1 font-weight-bold text-white">Doft - POS</span>
        </a>
      </div>
      <hr class="horizontal light mt-0 mb-2" />
      <div class="collapse navbar-collapse w-auto" id="sidenav-collapse-main">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              :class="
                currentPage.includes('dashboard')
                  ? 'nav-link text-white active bg-gradient-primary'
                  : 'nav-link text-white'
              "
              @click="goTo('/dashboard')"
            >
              <div
                class="title-area d-flex align-items-center justify-content-center"
              ></div>
              <div class="text-white text-center me-2">
                <i class="fa fa-trello" aria-hidden="true"></i>
              </div>
              <span class="nav-link-text ms-1">Dashboard</span>
            </a>
          </li>
          <li class="nav-item-cus" v-for="(item, i) in lstMenu" v-bind:key="i">
            <a
              :class="
                currentPage.includes(`${item.path}`)
                  ? 'nav-link text-white active bg-gradient-primary'
                  : 'nav-link text-white'
              "
              @click="
                item.isSubMenu
                  ? (item.isShow = !item.isShow)
                  : goTo(`/${item.path}`)
              "
            >
              <div
                class="label-menu w-100 d-flex align-items-center justify-content-between"
              >
                <div
                  class="left d-flex align-items-center justify-content-center"
                >
                  <div
                    v-html="item.icon"
                    class="text-white text-center me-2"
                  ></div>
                  <span class="nav-link-text ms-1">{{
                    item.display_name
                  }}</span>
                </div>
                <i
                  v-show="item.isSubMenu"
                  :class="item.isShow ? 'fa fa-caret-up' : 'fa fa-caret-down'"
                  aria-hidden="true"
                ></i>
              </div>
            </a>
            <div class="submenu" v-show="item.isShow">
              <li
                class=""
                v-for="(itemSub, i) in item.lstSubMenu"
                v-bind:key="i"
              >
                <a
                  :class="
                    currentPage.includes(`${itemSub.path}`)
                      ? 'nav-link text-white active bg-gradient-primary'
                      : 'nav-link text-white'
                  "
                  @click="goTo(`/${item.path}/${itemSub.path}`)"
                >
                  <div
                    class="text-white text-center me-2 d-flex align-items-center justify-content-center"
                  ></div>
                  <span class="nav-link-text ms-1">{{
                    itemSub.display_name
                  }}</span>
                </a>
              </li>
            </div>
          </li>
        </ul>
      </div>
      <div class="sidenav-footer position-absolute w-100 bottom-0">
        <div class="mx-3"></div>
      </div>
    </aside>
    <main
      class="main-content position-relative max-height-vh-100 h-100 border-radius-lg"
    >
      <!-- Navbar -->
      <nav
        class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl"
        id="navbarBlur"
        data-scroll="true"
      >
        <div class="container-fluid py-1 px-3">
          <nav aria-label="breadcrumb">
            <ol
              class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5"
            >
              <li class="breadcrumb-item text-sm">
                <a class="opacity-5 text-dark">Trang chủ</a>
              </li>
              <li
                class="breadcrumb-item text-sm text-dark active"
                aria-current="page"
              >
                <!-- Dashboard -->
              </li>
            </ol>
            <h6 class="font-weight-bolder mb-0">{{ pageName }}</h6>
          </nav>
          <div
            class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4"
            id="navbar"
          >
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
              <div class="input-group input-group-outline">
                <label class="form-label">Type here...</label>
                <input type="text" class="form-control" />
              </div>
            </div>
            <ul class="navbar-nav justify-content-end">
              <li class="nav-item d-flex align-items-center">
                <a
                  @click="goTo('/login')"
                  class="nav-link text-body font-weight-bold px-0 cursor-pointer"
                >
                  <i class="fa fa-user me-sm-1"></i>
                  <span class="d-sm-inline d-none">Sign In</span>
                </a>
              </li>
              <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                <a class="nav-link text-body p-0" id="iconNavbarSidenav">
                  <div class="sidenav-toggler-inner">
                    <i class="sidenav-toggler-line"></i>
                    <i class="sidenav-toggler-line"></i>
                    <i class="sidenav-toggler-line"></i>
                  </div>
                </a>
              </li>
              <li class="nav-item px-3 d-flex align-items-center">
                <a class="nav-link text-body p-0">
                  <i
                    class="fa fa-cog fixed-plugin-button-nav cursor-pointer"
                  ></i>
                </a>
              </li>
              <li class="nav-item dropdown pe-2 d-flex align-items-center">
                <a
                  href="javascript:;"
                  class="nav-link text-body p-0"
                  id="dropdownMenuButton"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="fa fa-bell cursor-pointer"></i>
                </a>
                <ul
                  class="dropdown-menu dropdown-menu-end px-2 py-3 me-sm-n4"
                  aria-labelledby="dropdownMenuButton"
                >
                  <li class="mb-2">
                    <a
                      class="dropdown-item border-radius-md"
                      href="javascript:;"
                    >
                      <div class="d-flex py-1">
                        <div class="my-auto">
                          <img src="" class="avatar avatar-sm me-3" />
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="text-sm font-weight-normal mb-1">
                            <span class="font-weight-bold">New message</span>
                            from Laur
                          </h6>
                          <p class="text-xs text-secondary mb-0">
                            <i class="fa fa-clock me-1"></i>
                            13 minutes ago
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="mb-2">
                    <a
                      class="dropdown-item border-radius-md"
                      href="javascript:;"
                    >
                      <div class="d-flex py-1">
                        <div class="my-auto">
                          <img
                            src=""
                            class="avatar avatar-sm bg-gradient-dark me-3"
                          />
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="text-sm font-weight-normal mb-1">
                            <span class="font-weight-bold">New album</span> by
                            Travis Scott
                          </h6>
                          <p class="text-xs text-secondary mb-0">
                            <i class="fa fa-clock me-1"></i>
                            1 day
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a
                      class="dropdown-item border-radius-md"
                      href="javascript:;"
                    >
                      <div class="d-flex py-1">
                        <div
                          class="avatar avatar-sm bg-gradient-secondary me-3 my-auto"
                        >
                          <svg
                            width="12px"
                            height="12px"
                            viewBox="0 0 43 36"
                            version="1.1"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                          >
                            <title>credit-card</title>
                            <g
                              stroke="none"
                              stroke-width="1"
                              fill="none"
                              fill-rule="evenodd"
                            >
                              <g
                                transform="translate(-2169.000000, -745.000000)"
                                fill="#FFFFFF"
                                fill-rule="nonzero"
                              >
                                <g
                                  transform="translate(1716.000000, 291.000000)"
                                >
                                  <g
                                    transform="translate(453.000000, 454.000000)"
                                  >
                                    <path
                                      class="color-background"
                                      d="M43,10.7482083 L43,3.58333333 C43,1.60354167 41.3964583,0 39.4166667,0 L3.58333333,0 C1.60354167,0 0,1.60354167 0,3.58333333 L0,10.7482083 L43,10.7482083 Z"
                                      opacity="0.593633743"
                                    ></path>
                                    <path
                                      class="color-background"
                                      d="M0,16.125 L0,32.25 C0,34.2297917 1.60354167,35.8333333 3.58333333,35.8333333 L39.4166667,35.8333333 C41.3964583,35.8333333 43,34.2297917 43,32.25 L43,16.125 L0,16.125 Z M19.7083333,26.875 L7.16666667,26.875 L7.16666667,23.2916667 L19.7083333,23.2916667 L19.7083333,26.875 Z M35.8333333,26.875 L28.6666667,26.875 L28.6666667,23.2916667 L35.8333333,23.2916667 L35.8333333,26.875 Z"
                                    ></path>
                                  </g>
                                </g>
                              </g>
                            </g>
                          </svg>
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="text-sm font-weight-normal mb-1">
                            Payment successfully completed
                          </h6>
                          <p class="text-xs text-secondary mb-0">
                            <i class="fa fa-clock me-1"></i>
                            2 days
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="container-fluid py-4">
        <Nuxt />
        <footer class="footer py-4">
          <div class="container-fluid">
            <div class="row align-items-center justify-content-lg-between">
              <div class="col-lg-6 mb-lg-0 mb-4">
                <div
                  class="copyright text-center text-sm text-muted text-lg-start"
                >
                  By DevNguyen
                </div>
              </div>
              <div class="col-lg-6">
                <ul
                  class="nav nav-footer justify-content-center justify-content-lg-end"
                ></ul>
              </div>
            </div>
          </div>
        </footer>
      </div>
      <div class="ps__rail-x" style="left: 0px; bottom: -374px">
        <div
          class="ps__thumb-x"
          tabindex="0"
          style="left: 0px; width: 0px"
        ></div>
      </div>
      <div class="ps__rail-y" style="top: 374px; height: 408px; right: 0px">
        <div
          class="ps__thumb-y"
          tabindex="0"
          style="top: 119px; height: 130px"
        ></div>
      </div>
    </main>
    <div class="fixed-plugin">
      <a class="fixed-plugin-button text-dark position-fixed px-3 py-2">
        <i class="fa fa-cog cursor-pointer"></i>
      </a>
      <div class="card shadow-lg">
        <div class="card-header pb-0 pt-3">
          <div class="float-start">
            <h5 class="mt-3 mb-0">Material UI Configurator</h5>
            <p>See our dashboard options.</p>
          </div>
          <div class="float-end mt-4">
            <button
              class="btn btn-link text-dark p-0 fixed-plugin-close-button"
            >
              <i class="material-icons">clear</i>
            </button>
          </div>
          <!-- End Toggle Button -->
        </div>
        <hr class="horizontal dark my-1" />
        <div class="card-body pt-sm-3 pt-0">
          <!-- Sidebar Backgrounds -->
          <div>
            <h6 class="mb-0">Sidebar Colors</h6>
          </div>
          <a href="javascript:void(0)" class="switch-trigger background-color">
            <div class="badge-colors my-2 text-start">
              <span
                class="badge filter bg-gradient-primary active"
                data-color="primary"
                onclick="sidebarColor(this)"
              ></span>
              <span
                class="badge filter bg-gradient-dark"
                data-color="dark"
                onclick="sidebarColor(this)"
              ></span>
              <span
                class="badge filter bg-gradient-info"
                data-color="info"
                onclick="sidebarColor(this)"
              ></span>
              <span
                class="badge filter bg-gradient-success"
                data-color="success"
                onclick="sidebarColor(this)"
              ></span>
              <span
                class="badge filter bg-gradient-warning"
                data-color="warning"
                onclick="sidebarColor(this)"
              ></span>
              <span
                class="badge filter bg-gradient-danger"
                data-color="danger"
                onclick="sidebarColor(this)"
              ></span>
            </div>
          </a>
          <!-- Sidenav Type -->
          <div class="mt-3">
            <h6 class="mb-0">Sidenav Type</h6>
            <p class="text-sm">Choose between 2 different sidenav types.</p>
          </div>
          <div class="d-flex">
            <button
              class="btn bg-gradient-dark px-3 mb-2 active"
              data-class="bg-gradient-dark"
              onclick="sidebarType(this)"
            >
              Dark
            </button>
            <button
              class="btn bg-gradient-dark px-3 mb-2 ms-2"
              data-class="bg-transparent"
              onclick="sidebarType(this)"
            >
              Transparent
            </button>
            <button
              class="btn bg-gradient-dark px-3 mb-2 ms-2"
              data-class="bg-white"
              onclick="sidebarType(this)"
            >
              White
            </button>
          </div>
          <p class="text-sm d-xl-none d-block mt-2">
            You can change the sidenav type just on desktop view.
          </p>
          <!-- Navbar Fixed -->
          <div class="mt-3 d-flex">
            <h6 class="mb-0">Navbar Fixed</h6>
            <div class="form-check form-switch ps-0 ms-auto my-auto">
              <input
                class="form-check-input mt-1 ms-auto"
                type="checkbox"
                id="navbarFixed"
                onclick="navbarFixed(this)"
              />
            </div>
          </div>
          <hr class="horizontal dark my-3" />
          <div class="mt-2 d-flex">
            <h6 class="mb-0">Light / Dark</h6>
            <div class="form-check form-switch ps-0 ms-auto my-auto">
              <input
                class="form-check-input mt-1 ms-auto"
                type="checkbox"
                id="dark-version"
                onclick="darkMode(this)"
              />
            </div>
          </div>
          <hr class="horizontal dark my-sm-4" />
          <a
            class="btn bg-gradient-info w-100"
            href="https://www.creative-tim.com/product/material-dashboard-pro"
            >Free Download</a
          >
          <a
            class="btn btn-outline-dark w-100"
            href="https://www.creative-tim.com/learning-lab/bootstrap/overview/material-dashboard"
            >View documentation</a
          >
          <div class="w-100 text-center">
            <a
              class="github-button"
              href="https://github.com/creativetimofficial/material-dashboard"
              data-icon="octicon-star"
              data-size="large"
              data-show-count="true"
              aria-label="Star creativetimofficial/material-dashboard on GitHub"
              >Star</a
            >
            <h6 class="mt-3">Thank you for sharing!</h6>
            <a
              href="https://twitter.com/intent/tweet?text=Check%20Material%20UI%20Dashboard%20made%20by%20%40CreativeTim%20%23webdesign%20%23dashboard%20%23bootstrap5&amp;url=https%3A%2F%2Fwww.creative-tim.com%2Fproduct%2Fsoft-ui-dashboard"
              class="btn btn-dark mb-0 me-2"
              target="_blank"
            >
              <i class="fab fa-twitter me-1" aria-hidden="true"></i> Tweet
            </a>
            <a
              href="https://www.facebook.com/sharer/sharer.php?u=https://www.creative-tim.com/product/material-dashboard"
              class="btn btn-dark mb-0 me-2"
              target="_blank"
            >
              <i class="fab fa-facebook-square me-1" aria-hidden="true"></i>
              Share
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</template>
<script src="../assets/js/core/popper.min.js"></script>
<script src="../assets/js/core/bootstrap.min.js"></script>
<script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
<script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
<script src="../assets/js/plugins/chartjs.min.js"></script>

<!-- Theme JS -->
<script src="../assets/js/material-dashboard.min.js"></script>
<script>
export default {
  data: () => ({
    variable: '',
    lstMenu: [
      {
        path: 'report',
        display_name: 'Report',
        icon: '<i class="fa fa-bar-chart" aria-hidden="true"></i>',
        isSubMenu: true,
        isShow: false,
        lstSubMenu: [
          {
            path: 'revenue',
            display_name: 'Doanh thu',
          },
          {
            path: 'invoice',
            display_name: 'Hóa đơn',
          },
          {
            path: 'payment',
            display_name: 'Payment',
          },
          {
            path: 'work-table',
            display_name: 'Bảng công',
          },
        ],
      },
      {
        path: 'category',
        display_name: 'Danh mục',
        isSubMenu: false,
        icon: '<i class="fa fa-braille" aria-hidden="true"></i>',
      },
      {
        path: 'product',
        display_name: 'Sản Phẩm',
        isSubMenu: false,
        icon: '<i class="fa fa-cart-plus" aria-hidden="true"></i>',
      },
      {
        path: 'store',
        display_name: 'Của hàng',
        isSubMenu: false,
        icon: '<i class="fa fa-map-signs" aria-hidden="true"></i>',
      },
      {
        path: 'promotion',
        display_name: 'Khuyến mãi',
        isSubMenu: false,
        icon: '<i class="fa fa-tachometer" aria-hidden="true"></i>',
      },
      {
        path: 'take-care',
        display_name: 'CSKH',
        isSubMenu: true,
        isShow: false,
        icon: '<i class="fa fa-users" aria-hidden="true"></i>',
        lstSubMenu: [
          {
            path: 'notification',
            display_name: 'Gửi thông báo',
          },
          {
            path: 'sms',
            display_name: 'SMS',
          },
          {
            path: 'email',
            display_name: 'Email',
          },
        ],
      },
      {
        path: 'account',
        display_name: 'Tài khoản',
        isSubMenu: true,
        isShow: false,
        icon: '<i class="fa fa-users" aria-hidden="true"></i>',
        lstSubMenu: [
          {
            path: 'manager',
            display_name: 'Quản lý',
          },
          {
            path: 'staff',
            display_name: 'Nhân viên',
          },
          {
            path: 'customer',
            display_name: 'Khách hàng',
          },
        ],
      },
      {
        path: 'management',
        display_name: 'Quản lý khác',
        isSubMenu: true,
        isShow: false,
        icon: '<i class="fa fa-users" aria-hidden="true"></i>',
        lstSubMenu: [
          {
            path: 'schedule',
            display_name: 'Lịch làm việc',
          },
        ],
      },
      {
        path: 'setting',
        display_name: 'Setting',
        isSubMenu: true,
        isShow: false,
        icon: '<i class="fa fa-cog" aria-hidden="true"></i>',
        lstSubMenu: [
          {
            path: 'income',
            display_name: 'Cấu hình thu nhập',
          },
        ],
      },
    ],
  }),
  methods: {},
  computed: {
    currentPage() {
      var url = this.$route.path
      if (url != null) {
        var index = url.split('/').length
        return url.split('/')[index - 1]
      } else {
        return ''
      }
    },
    pageName() {
      var url = this.$route.name
      if (url != null) {
        var pageName = url.split('/')[0]

        if (pageName.includes('index')) {
          return 'Dashboard'
        } else if (pageName.includes('category')) {
          return 'Danh Mục'
        } else if (pageName.includes('product')) {
          return 'Sản Phẩm'
        }
      }

      return ''
    },
  },
}
</script>

<style lang="scss" scrop>
.nav-item-cus {
  a {
    &:hover {
      background-color: rgba(199, 199, 199, 0.2);
      border-radius: 0.375rem;
    }
  }
}

.submenu {
  span {
    margin-left: 20px !important;
  }
}
</style>
