<template>
    <div class="content-page">
        <b-overlay :show="this.IsLoading" rounded="sm">
            <div class="row mb-4">
                <div class="col-md-3">
                    <SummaryItem class="bg-01" :pFigure="metadata.totalCount" pName="Total Message"></SummaryItem>
                </div>
                <div class="col-md-3">
                    <SummaryItem class="bg-04" :pFigure="30" pName="Added in the day"></SummaryItem>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-8">
                    <div class="card d-flex justify-content-center">
                        <div class="action px-4 d-flex align-items-center">
                            <i class="fa fa-cog cursor-pointer mr-3"></i>
                            <i @click="goTo('/take-care/notification/new')" class="fa fa-plus cursor-pointer mr-3"></i>
                            <i class="fa fa-eye cursor-pointer mr-3"></i>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card">
                        <div class="card-header pb-0 pt-2"></div>
                        <div class="action px-4">
                            <b-form-input id="input-search" v-model="searchText" type="text" placeholder="Search ..."
                                required :disabled="IsEdit"></b-form-input>
                        </div>
                        <div class="card-body pt-0 pb-2"></div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-12">
                    <div class="card">
                        <create-table :metadata="metadata" @select-page="selectPage">
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 w-5">
                                            No
                                        </th>
                                        <th
                                            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 w-10">
                                            Code
                                        </th>
                                        <th
                                            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 w-20">
                                            Message Name
                                        </th>
                                        <th
                                            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 w-20">
                                            Sent At
                                        </th>
                                        <th
                                            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 w-5">
                                            Sent
                                        </th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th class="text-secondary opacity-7"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item, i) in lstItem" :key="i"
                                        @dblclick="goTo(`/category/update?id=${item.id}`)">
                                        <td>
                                            <label for="" class="text-xs font-weight-bold px-2">{{
                                                i + 1
                                            }}</label>
                                        </td>
                                        <td>
                                            <label for="" class="text-xs font-weight-bold">{{
                                                item.code
                                            }}</label>
                                        </td>
                                        <td>
                                            <label for="" class="text-xs font-weight-bold">{{
                                                item.name
                                            }}</label>
                                        </td>
                                        <td>
                                            <label for="" class="text-xs font-weight-bold">{{
                                                datetimeToString(item.created_date)
                                            }}</label>
                                        </td>
                                        <td>
                                            <label for="" class="text-xs font-weight-bold">{{
                                                3
                                            }}</label>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <div class="d-flex justify-content-center align-items-center">
                                                <i class="fa fa-edit cursor-pointer mr-3 ic-color"
                                                    @click="goTo(`/take-care/notification/update?id=${item.id}`)"></i>
                                                <!-- <img class="cursor-pointer mr-3" src="@/assets/icon/icDulicate.png" alt=""
                                                    @click="goTo(`/take-care/notification/new`)" srcset=""
                                                    width="18"> -->
                                                <i class="fa fa-trash cursor-pointer mr-3 ic-color"
                                                    @click="deleteItem()"></i>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </create-table>
                    </div>
                </div>
            </div>
        </b-overlay>
    </div>
</template>

<script>
export default {
    data: () => ({
        ecoParameters: {
            pageNumber: 1,
            pageSize: 10,
            skip: 0,
            top: 10,
            orderBy: '',
            filter: '',
            isDropdown: false,
            searchValue: '',
            searchText: '',
        },
        metadata: {
            currentPage: 0,
            hasNext: false,
            hasPrevious: false,
            pageSize: 0,
            totalCount: 0,
            totalPages: 0,
        },
        lstItem: [],
        searchText: '',
    }),
    async created() {
        await this.getData();
    },
    methods: {
        async getData() {
            this.start()
            const response = await this.$axios.post(
                'Marketing/get-list',
                this.ecoParameters
            )
            console.log(response)
            if (response.status == 200) {
                this.lstItem = response.data.items
                this.metadata = response.data.metadata
                this.done()
            }
        },
        // #region TABLE
        async selectPage(page) {
            console.log(page)
            this.ecoParameters.skip = (page - 1) * this.ecoParameters.pageSize
            this.ecoParameters.top = this.ecoParameters.pageSize
            await this.getData()
        },
        // #endregion
    }
}
</script>

<style></style>