<template>
  <div class="content-page">
    <b-overlay :show="this.IsLoading" rounded="sm">
      <div class="row mb-4">
        <div class="col-12">
          <div class="card">
            <div class="card-body pt-2 pb-2 d-flex align-items-center justify-content-between">
              <div class="left">
                <i @click="goTo('/take-care/notification')" class="fa-sharp fa fa-arrow-left cursor-pointer mr-3"></i>
                <i @click="save()" class="fa fa-save cursor-pointer mr-3"></i>
              </div>
              <div class="right">
                <!-- <i class="fa fa-upload cursor-pointer" @click="changeTypeInsert()"></i> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <NotificationItem :item="item"></NotificationItem>
        </div>
      </div>
    </b-overlay>
  </div>
</template>

<script>
import NotificationItem from './notification_item.vue'
export default {
  components: { NotificationItem },
  data() {
    return {
      item: {
        id: '',
        code: this.codeRandom('TB'),
        name: '',
        type: 1, // 1: through App Mobile - 2: SMS
        title: '',
        message: '',
        specificTime: null,
        to: ''
      },
      fileUpload: null,
    }
  },
  methods: {
    validate() {
      if (!Boolean(this.item.code)) {
        this.danger('code')
        return false
      }

      if (!Boolean(this.item.name)) {
        this.danger('name')
        return false
      }
      if (!Boolean(this.item.title)) {
        this.danger('title')
        return false
      }
      if (!Boolean(this.item.message)) {
        this.danger('message')
        return false
      }

      return true
    },
    async save() {
      if (!this.validate()) return

      var next = await this.confirmAction('Bạn muốn lưu thông báo này?')
      if (next) {
        this.start()

        const response = await this.$axios.$post(
          'marketing/Insert',
          this.item,
        )

        console.log(response);
        if (response.result.isSuccess) {
          this.success()
          this.goTo(`/take-care/notification/update?id=${response.result.objectGuidId}`)
          this.done()
        } else {
          this.done()
        }
      }
    },
  },
}
</script>

<style></style>
