<template>
  <div class="card px-5 py-3">
    <div class="send-area d-flex justify-content-end">
      <div class="btn send-btn d-flex align-items-center" @click="sendNoti()">
        <svg
          viewBox="0 0 16 16"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          fill="fff"
          class="sc-hKMtZM kLkPUM"
          style="width: 23px"
        >
          <path
            d="M12.79.121a.566.566 0 0 0-.616-.054L.45 6.307a.838.838 0 0 0 .067 1.518l1.763.747c0 .045.007.09.023.133l1.354 3.654a.984.984 0 0 0 1.588.384c.022-.019 1.512-1.667 1.842-2.033a.135.135 0 0 1 .093-.045 5.006 5.006 0 0 1 3.998-3.598L12.98.703a.55.55 0 0 0-.189-.582Zm-9.627 8.57 5.25-4.368a.123.123 0 0 1 .182.01.119.119 0 0 1 .01.18l-3.92 4.796a.394.394 0 0 0-.085.19l-.342 2.14-1.095-2.948Zm6.615-.017a4 4 0 1 1 4.444 6.652 4 4 0 0 1-4.444-6.652Zm2.25 5.156 2.281-3.097a.333.333 0 1 0-.537-.394l-2.075 2.817-1.359-1.087a.333.333 0 1 0-.417.52l1.63 1.303a.334.334 0 0 0 .377.026.338.338 0 0 0 .1-.088Z"
            fill="currentColor"
          ></path>
        </svg>
        <span>Send</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 pr-3">
        <div class="row mb-3">
          <div class="col-12">
            <b-form-group
              id="input-group-1"
              label="Code:"
              label-for="input-1"
              class=""
            >
              <b-form-input
                id="input-1"
                v-model="item.code"
                type="text"
                disabled
              ></b-form-input>
            </b-form-group>
            <b-form-group
              id="input-group-1"
              label="Mesage Name:"
              label-for="input-1"
              class="require"
            >
              <b-form-input
                id="input-1"
                v-model="item.name"
                type="text"
                placeholder="Enter name"
                :state="Boolean(item.name)"
                required
              ></b-form-input>
            </b-form-group>
            <b-form-group
              id="input-group-1"
              label="Title:"
              label-for="input-1"
              class="require"
            >
              <b-form-input
                id="input-1"
                v-model="item.title"
                type="text"
                placeholder="Enter title"
                :state="Boolean(item.title)"
                required
              ></b-form-input>
            </b-form-group>
            <b-form-group
              id="input-group-1"
              label="Message:"
              label-for="input-1"
              class="require"
            >
              <b-form-textarea
                id="input-1"
                v-model="item.message"
                type="text"
                placeholder="Enter Message"
                :state="Boolean(item.message)"
                required
              ></b-form-textarea>
            </b-form-group>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <Fieldset>
              <template #title>
                <span>Delivery Schedule</span>
              </template>
              <template #child-content>
                <div class="row">
                  <div class="col-12">
                    <b-form-group
                      label="When should this message start sending?"
                      v-slot="{ ariaDescribedby }"
                    >
                      <b-form-radio
                        v-model="selected"
                        :aria-describedby="ariaDescribedby"
                        name="some-radios"
                        value="0"
                        >Immediately</b-form-radio
                      >
                      <b-form-radio
                        v-model="selected"
                        :aria-describedby="ariaDescribedby"
                        name="some-radios"
                        value="1"
                        >Specific Time</b-form-radio
                      >
                    </b-form-group>
                  </div>
                  <div v-show="selected == '1'" class="col-6">
                    <div class="d-flex">
                      <date-picker
                        v-model="item.specificTime"
                        :config="options"
                      ></date-picker>
                    </div>
                  </div>
                </div>
              </template>
            </Fieldset>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex flex-column align-items-center">
        <h5>Android</h5>
        <div class="preview-noti android">
          <div class="content px-3 py-2">
            <div class="d-flex align-items-center">
              <div class="left mr-2">
                <img
                  src="@/static/images/ic_launcher.png"
                  alt=""
                  srcset=""
                  width="40"
                />
              </div>
              <div class="right">
                <div class="title text-bold">
                  {{ item.title == '' ? 'DoftPos' : item.title }}
                  <span class="time">{{ getTime }}</span>
                </div>
                <span class="message">{{
                  item.message == '' ? 'Notification Message' : item.message
                }}</span>
              </div>
            </div>
          </div>
        </div>
        <h5 class="mt-5">IOS</h5>
        <div class="preview-noti ios">
          <div class="content px-3 py-2">
            <div class="d-flex align-items-center">
              <div class="left mr-2">
                <img
                  src="@/static/images/ic_launcher.png"
                  alt=""
                  srcset=""
                  width="40"
                />
              </div>
              <div class="right">
                <div class="title text-bold">
                  {{ item.title == '' ? 'DoftPos' : item.title }}
                  <span class="time">{{ getTime }}</span>
                </div>
                <span class="message">{{
                  item.message == '' ? 'Notification Message' : item.message
                }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css'
import '@fortawesome/fontawesome-free/css/all.css'
import 'bootstrap/dist/css/bootstrap.css'
export default {
  props: ['item'],
  data() {
    return {
      selected: '0',
      options: {
        format: 'DD/MM/YYYY hh:mm:ss a',
        useCurrent: false,
        icons: {
          time: 'far fa-clock',
          date: 'far fa-calendar',
          up: 'fas fa-arrow-up',
          down: 'fas fa-arrow-down',
          previous: 'fas fa-chevron-left',
          next: 'fas fa-chevron-right',
          today: 'fas fa-calendar-check',
          clear: 'far fa-trash-alt',
          close: 'far fa-times-circle',
        },
      },
    }
  },
  methods: {
    async sendNoti() {
      if (!Boolean(this.item.message)) {
        this.danger('Message')
        return
      }

      var sendAfterTmp = null

      if (this.item.specificTime != null) {
        var day = this.item.specificTime.slice(0, 2)
        var month = this.item.specificTime.slice(4, 5)
        var year = this.item.specificTime.slice(6, 10)
        var hour = this.item.specificTime.slice(11, 13)
        var minutes = this.item.specificTime.slice(14, 16)
        var seconds = this.item.specificTime.slice(17, 19)

        sendAfterTmp = new Date(year, month, day, hour, minutes, seconds)
        console.log(new Date(year, month - 1, day, hour, minutes, seconds))
      }

      var next = await this.confirmAction('Bạn muốn gửi thông báo(TB) này?')

      if (next) {
        var rq = {
          title: this.item.title,
          message: this.item.message,
          sendAfter: this.item.specificTime == null ? null : sendAfterTmp,
        }

        const response = await this.$axios.$post(
          'marketing/send-notification',
          rq
        )
        console.log(response)
      }
    },
  },
  watch: {
    selected() {
      switch (this.selected) {
        case '0':
          this.item.specificTime = null
          break
        case '1':
          this.item.specificTime = new Date()
          break
      }
    },
  },
  computed: {
    getTime() {
      const d = new Date()
      let hour = d.getHours()
      let minutes = d.getMinutes()
      return `${hour}:${minutes}`
    },
  },
}
</script>

<style lang="scss" scoped>
.send-btn {
  border: 1px dashed #e91e63;
  transition: 0.3s ease-in;

  svg {
    color: #e91e63;
    margin-right: 8px;
  }

  span {
    color: #e91e63;
  }

  &:hover {
    background-color: #e91e63;

    svg {
      color: #fff;
    }

    span {
      color: #fff;
    }
  }
}

.preview-noti {
  .content {
    background-color: #fff;
    border-radius: 10px;

    .title,
    .message {
      font-size: 13px;
    }
  }

  .time {
    margin-left: 5px;
    font-size: 9.5px;
  }
}

.android {
  background-image: url('../../../static/images/noti_android.png');
  background-repeat: no-repeat;
  width: 410px;
  height: 165px;

  .content {
    width: 87%;
    transform: translate(23px, 74px);
  }
}

.ios {
  background-image: url('../../../static/images/noti_ios.png');
  background-repeat: no-repeat;
  width: 410px;
  height: 158px;

  .content {
    width: 85%;
    transform: translate(29px, 69px);
  }
}
</style>
