<template>
    <div class="content-page">
        <b-overlay :show="this.IsLoading" rounded="sm">
            <div class="row mb-4">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body pt-2 pb-2 d-flex align-items-center justify-content-between">
                            <div class="left">
                                <i @click="goTo('/take-care/notification')" class="fa-sharp fa fa-arrow-left cursor-pointer mr-3"></i>
                                <i @click="save()" class="fa fa-save cursor-pointer mr-3"></i>
                                <i class="fa fa-trash cursor-pointer mr-3"></i>
                            </div>
                            <div class="right"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-12">
                    <!-- Notification Item -->
                    <NotificationItem :item="item"></NotificationItem>
                </div>
            </div>
        </b-overlay>
    </div>
</template>

<script>
import NotificationItem from './notification_item.vue'
export default {
    components: { NotificationItem },
    data() {
        return {
            item: {
                id: '',
                code: this.codeRandom('TB'),
                name: '',
                type: 1, // 1: through App Mobile - 2: SMS
                title: '',
                message: '',
                specificTime: null,
                to: ''
            },
        }
    },
    async created() {
        // Get id
        this.start()
        var id = this.$route.query.id
        const response = await this.$axios.$post(`marketing/GetById/${id}`)
        this.done()
        if (response.isSuccess) {
            this.item = response.data
        }
    },
    methods: {
        
    }
}
</script>

<style></style>