<template>
  <div class="content-page">
    <b-overlay :show="this.IsLoading" rounded="sm">
      <div class="row mb-4">
        <div class="col-12">
          <div class="card">
            <div
              class="card-body pt-2 pb-2 d-flex align-items-center justify-content-between"
            >
              <div class="left">
                <i
                  @click="goTo('/product')"
                  class="fa-sharp fa fa-arrow-left cursor-pointer mr-3"
                ></i>
                <i @click="save()" class="fa fa-save cursor-pointer mr-3"></i>
                <i class="fa fa-trash cursor-pointer mr-3"></i>
              </div>
              <div class="right">
                <i
                  class="fa fa-upload cursor-pointer"
                  @click="changeTypeInsert()"
                ></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12">
          <!-- Product Item -->
          <ProductItem :item="item" v-if="!isImport" />
          <!-- Import File -->
          <div class="card" v-else>
            <div class="card-body">
              <div class="d-flex align-items-center">
                <label for="" class="mr-3">Download Template: </label>
                <a
                  href="http://localhost:31370/api/Media/Download/Template/Product"
                  download
                >
                  <i class="fa fa-download cursor-pointer"></i>
                </a>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <b-form-group
                    id="input-group-1"
                    label="Import File:"
                    label-for="input-1"
                    class="require"
                    :description="dumThumbnail ? category.thumbnails.name : ''"
                  >
                    <b-form-file
                      v-model="fileUpload"
                      :state="Boolean(fileUpload)"
                      placeholder="Choose a file or drop it here..."
                      drop-placeholder="Drop file here..."
                      accept=".xlsx"
                    ></b-form-file>
                  </b-form-group>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </b-overlay>
  </div>
</template>

<script>
import ProductItem from './product_item.vue'
export default {
  components: {
    ProductItem,
  },
  data() {
    return {
      isImport: false,
      fileUpload: null,
      item: {
        id: '',
        code: '',
        name: '',
        categoryCode: '',
        description: '',
        price: null,
        unit: 'VND',
        status: false,
        thumbnails: null,
        file: null,
      },
    }
  },
  methods: {
    changeTypeInsert() {
      this.isImport = !this.isImport
    },
    validate() {
      if (!Boolean(this.item.code)) {
        this.danger('Code')
        return false
      }
      if (!Boolean(this.item.name)) {
        this.danger('name')
        return false
      }
      return true
    },
    async save() {
      if (!this.isImport && !this.validate()) return
      var next = await this.confirmAction('Bạn muốn lưu danh mục này?')
      if (next) {
        if (this.isImport) {
          this.start()
          let formData = new FormData()
          formData.append('files', this.fileUpload)
          const response = await this.$axios.$post(
            'Product/Insert/Upload',
            formData,
            {
              headers: {
                'Content-Type': `multipart/form-data;`,
              },
            }
          )
          if (response.isSuccess) {
            this.success()
            this.goTo('/product')
            this.done()
          } else {
            this.danger()
            this.done()
          }
        } else {
          this.start()
          var image = await this.UploadMedia(
            this.item.file,
            this.item.code,
            'product',
            false
          )

          if (image != '') {
            this.item.thumbnails = image
            const response = await this.$axios.$post(
              'Product/Insert',
              this.item
            )
            console.log(response)
            if (response.result.isSuccess) {
              this.success()
              this.done()
              this.goTo(`/product/update?id=${response.result.objectGuidId}`)
            } else {
              this.danger()
              this.done()
            }
          } else {
            this.done()
          }
        }
      }
    },
  },
}
</script>

<style></style>
