<template>
  <div class="content-page">
    <b-overlay :show="this.IsLoading" rounded="sm">
      <div class="row mb-4">
        <div class="col-md-3">
          <SummaryItem class="bg-01" :pFigure="metadata.totalCount" pName="Total Product"></SummaryItem>
        </div>
        <div class="col-md-3">
          <SummaryItem class="bg-03" :pFigure="totalCategory" pName="Total Category"></SummaryItem>
        </div>
        <div class="col-md-3">
          <SummaryItem class="bg-02" :pFigure="activeProduct" pName="Active Product"></SummaryItem>
        </div>
        <div class="col-md-3">
          <SummaryItem class="bg-04" :pFigure="30" pName="Added in week"></SummaryItem>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-8">
          <div class="card d-flex justify-content-center">
            <div class="action px-4 d-flex align-items-center ">
              <i class="fa fa-cog cursor-pointer mr-3"></i>
              <i @click="goTo('/product/create')" class="fa fa-plus cursor-pointer mr-3"></i>
              <i class="fa fa-eye cursor-pointer mr-3"></i>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card">
            <div class="card-header pb-0 pt-2"></div>
            <div class="action px-4">
              <b-form-input id="input-search" v-model="searchText" type="text" placeholder="Search ..." required
                :disabled="IsEdit"></b-form-input>
            </div>
            <div class="card-body pt-0 pb-2"></div>
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12">
          <div class="card">
            <create-table :metadata="metadata" @select-page="selectPage">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="opacity-7 ps-2 w-5">
                      <b-form-checkbox @change="changeSelect($event)" />
                    </th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                      No
                    </th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                      Code
                    </th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                      Tên
                    </th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                      Tên danh mục
                    </th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 w-20">
                      Mô tả
                    </th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 w-10">
                      Giá
                    </th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 w-5">
                      Trạng thái
                    </th>
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
                <tbody v-if="lstItem.length != 0">
                  <tr v-for="(item, i) in lstItem" :key="i" @dblclick="goTo(`/product/update?id=${item.id}`)">
                    <th>
                      <b-form-checkbox v-model="item.selected" :value="!item.selected" />
                    </th>
                    <td>
                      <label for="" class="text-xs font-weight-bold px-2">{{
                        i + 1
                      }}</label>
                    </td>
                    <td>
                      <label for="" class="text-xs font-weight-bold">{{
                        item.code
                      }}</label>
                    </td>
                    <td>
                      <img :src="item.thumbnails" width="50">
                      <label for="" class="text-xs font-weight-bold">{{
                        item.name
                      }}</label>
                    </td>
                    <td>
                      <label for="" class="link text-xs font-weight-bold"
                        @click="goTo(`/category/update?id=${item.categoryId}`)">{{ item.categoryName }}</label>
                    </td>
                    <td>
                      <label for="" class="text-xs font-weight-bold">{{
                        item.description
                      }}</label>
                    </td>
                    <td>
                      <label for="" class="text-xs font-weight-bold">{{
                        currency(item.price)
                      }}</label>
                    </td>
                    <td>
                      <label for="" class="text-xs font-weight-bold">
                        <b-form-checkbox id="checkbox-1" v-model="item.status" name="checkbox-1" />
                      </label>
                    </td>
                    <td>
                      <div class="d-flex justify-content-center">
                        <i class="fa fa-edit cursor-pointer mr-3" @click="goTo(`/product/update?id=${item.id}`)"></i>
                        <i class="fa fa-trash cursor-pointer mr-3" @click="deleteItem(item.id)"></i>
                      </div>
                    </td>
                  </tr>
                </tbody>
                <tbody v-else>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="">
                      <div class="table-empty w-100 mt-3 d-flex flex-column align-items-center justify-content-center">
                        <img src="~/static/empty.png" alt="" width="60" height="60" />
                        <p class="mt-1">The table is empty</p>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </create-table>
          </div>
        </div>
      </div>
    </b-overlay>
  </div>
</template>
<script>
export default {
  head() {
    return {
      title: 'DOFT POS',
    }
  },
  data: () => ({
    ecoParameters: {
      pageNumber: 1,
      pageSize: 10,
      skip: 0,
      top: 10,
      orderBy: '',
      filter: '',
      isDropdown: false,
      searchValue: '',
      searchText: '',
    },
    metadata: {
      currentPage: 0,
      hasNext: false,
      hasPrevious: false,
      pageSize: 0,
      totalCount: 0,
      totalPages: 0,
    },
    lstItem: [],
    searchText: ''
  }),
  async created() {
    await this.getData()
  },
  watch: {
    async searchText() {
      this.ecoParameters.searchText = this.searchText
      await this.getData();
    }
  },
  methods: {
    //#region INIT
    async getData() {
      this.start()
      const response = await this.$axios.post(
        'Product/GetListAllProduct',
        this.ecoParameters
      )
      console.log(response)
      if (response.status == 200) {
        this.lstItem = response.data.items
        this.metadata = response.data.metadata
        this.lstItem.forEach((x) => {
          x.selected = false
        })
        this.done()
      }
    },
    // #endregion

    // #region TABLE
    async selectPage(page) {
      console.log(page)
      this.ecoParameters.skip = (page - 1) * this.ecoParameters.pageSize
      this.ecoParameters.top = this.ecoParameters.pageSize
      await this.getData()
    },
    // #endregion

    // #region EVENT
    changeSelect(e) {
      console.log(e)
    },
    async deleteItem(id) {
      var next = await this.confirmDeletion()

      if (next) {
        const response = await this.$axios.$delete(`Product/Delete/${id}`)

        if (response.isSuccess) {
          this.success()
          this.getData()
        } else {
          this.danger()
        }
      }
    },
    // #endregion
  },
  computed: {
    activeProduct() {
      var result = this.lstItem.filter(x => x.status == true).length.toString()
      return result
    },
    totalCategory() {
      var result = [... new Set(this.lstItem.map(i => i.categoryId))].length.toString()
      return result
    },
  },
}
</script>
<style lang="scss" scoped></style>
