<template>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-3">
          <b-img
            :src="
              this.item.thumbnails != null
                ? this.item.thumbnails
                : this.imageSrc == null
                ? 'https://cdn3.vectorstock.com/i/1000x1000/30/97/flat-business-man-user-profile-avatar-icon-vector-4333097.jpg'
                : this.imageSrc
            "
            class="mb-3"
            fluid
            block
            rounded
          ></b-img>
          <b-form-group id="input-group-1" label-for="input-1" class="">
            <b-form-file
              v-model="item.file"
              :state="Boolean(item.file)"
              accept=".jpg, .png, .gif"
            ></b-form-file>
          </b-form-group>
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-4">
              <b-form-group
                id="input-group-1"
                label="Code:"
                label-for="input-1"
                class="require"
              >
                <b-form-input
                  id="input-1"
                  v-model="item.code"
                  type="text"
                  placeholder="Enter code"
                  :state="Boolean(item.code)"
                  required
                  :disabled="IsEdit"
                ></b-form-input>
              </b-form-group>
            </div>
            <div class="col-md-4">
              <b-form-group
                id="input-group-1"
                label="Name:"
                label-for="input-1"
                class="require"
              >
                <b-form-input
                  id="input-1"
                  v-model="item.name"
                  type="text"
                  placeholder="Enter name"
                  :state="Boolean(item.name)"
                  required
                ></b-form-input>
              </b-form-group>
            </div>
            <div class="col-md-4">
              <b-form-group
                id="input-group-1"
                label="Category:"
                label-for="input-3"
                class="require"
              >
                <b-form-select
                  id="input-3"
                  v-model="item.categoryCode"
                  required
                >
                  <b-form-select-option :value="''"
                    >Please select a category</b-form-select-option
                  >
                  <b-form-select-option
                    v-for="(item, i) in lstCategory"
                    :key="i"
                    :value="item.code"
                    >{{ item.name }}</b-form-select-option
                  ></b-form-select
                >
              </b-form-group>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <b-form-group
                id="input-group-1"
                label="Description:"
                label-for="textarea-small"
                class="require"
              >
                <b-form-textarea
                  id="textarea-small"
                  size="sm"
                  placeholder="Small textarea"
                  v-model="item.description"
                  :state="Boolean(item.description)"
                ></b-form-textarea>
              </b-form-group>
            </div>
            <div class="col-md-4">
              <b-form-group
                id="input-group-1"
                label="Status:"
                label-for="status"
                class=""
              >
                <b-form-checkbox
                  id="checkbox-1"
                  v-model="item.status"
                  name="checkbox-1"
                  :value="true"
                  :unchecked-value="false"
                >
                  Actived for sale
                </b-form-checkbox>
                <div
                  v-if="item.status"
                  class="status active d-flex align-items-center ml-1 mt-1"
                >
                  <div class="icon mr-2"></div>
                  <span>Active</span>
                </div>
                <div
                  v-else
                  class="status inactive d-flex align-items-center ml-1 mt-1"
                >
                  <div class="icon mr-2"></div>
                  <span>Inactive</span>
                </div>
              </b-form-group>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <b-form-group
                id="input-group-1"
                label="Price:"
                label-for="input-1"
                class="require"
                v-bind:valid-feedback="currency(item.price)"
              >
                <b-form-input
                  id="input-1"
                  v-model="item.price"
                  type="number"
                  number
                  step="1000"
                  max="10000000"
                  placeholder="Enter price"
                  :state="Boolean(item.price)"
                  required
                ></b-form-input>
              </b-form-group>
            </div>
            <div class="col-md-4"></div>
          </div>
          <!-- <div class="row" v-if="!isActive">
            <div class="col-md-5">
              <b-form-group
                id="input-group-1"
                label="Start date:"
                label-for="startdate"
                class=""
              >
                <b-form-datepicker
                  id="startdate"
                  v-model="value"
                  locale="vi"
                ></b-form-datepicker>
              </b-form-group>
            </div>
            <div class="col-md-4"></div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const base64Encode = (data) =>
  new Promise((resolve, reject) => {
    const reader = new FileReader()
    reader.readAsDataURL(data)
    reader.onload = () => resolve(reader.result)
    reader.onerror = (error) => reject(error)
  })
export default {
  props: {
    item: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      imageSrc: null,
      lstCategory: [],
      isActive: true,
      ecoParameters: {
        pageNumber: 1,
        pageSize: 10,
        skip: 0,
        top: 10,
        orderBy: '',
        filter: '',
        isDropdown: true,
        searchValue: '',
        searchText: '',
      },
    }
  },
  async created() {
    // Get lst Category
    this.start()
    const response = await this.$axios.post(
      'Category/GetListAll',
      this.ecoParameters
    )
    if (response.status == 200) {
      this.lstCategory = response.data
      this.done()
    }
  },
  computed: {
    file() {
      return this.item.file
    },
  },
  watch: {
    file(newValue, oldValue) {
      if (newValue !== oldValue) {
        if (newValue) {
          base64Encode(newValue)
            .then((value) => {
              this.imageSrc = value
            })
            .catch(() => {
              this.imageSrc = null
            })
        }
      }
    },
  },
}
</script>

<style></style>
