<template>
  <div class="content-page">
    <b-overlay :show="this.IsLoading" rounded="sm">
      <div class="row mb-4">
        <div class="col-12">
          <div class="card">
            <div class="card-body pt-2 pb-2">
              <i
                @click="goTo('/product')"
                class="fa-sharp fa fa-arrow-left cursor-pointer mr-3"
              ></i>
              <i @click="save()" class="fa fa-save cursor-pointer mr-3"></i>
              <i
                @click="deleteItem()"
                class="fa fa-trash cursor-pointer mr-3"
              ></i>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12">
          <ProductItem :item="item" />
        </div>
      </div>
    </b-overlay>
  </div>
</template>

<script>
import ProductItem from './product_item.vue'
export default {
  components: { ProductItem },
  data() {
    return {
      item: {
        id: '',
        code: '',
        name: '',
        categoryId: '',
        description: '',
        price: null,
        unit: 'VND',
        status: false,
        thumbnails: '',
        file: null,
      },
    }
  },
  async created() {
    // Get id
    this.start()
    var id = this.$route.query.id
    const response = await this.$axios.$post(`Product/GetById/${id}`)
    this.done()
    if (response.isSuccess) {
      this.item = response.data
    }
  },
  methods: {
    validate() {
      if (!Boolean(this.item.code)) {
        this.danger('Code')
        return false
      }
      if (!Boolean(this.item.name)) {
        this.danger('name')
        return false
      }
      return true
    },
    async save() {
      if (!this.validate()) return
      var next = await this.confirmAction('Bạn muốn chỉnh sửa danh mục này?')
      if (next) {
        this.start()
        if (this.item.file != null) {
          var oldName = this.item.thumbnails.split('/')[6]
          console.log(this.item.thumbnails)
          console.log(oldName)
          var image = await this.UploadMedia(
            this.item.file,
            this.item.code,
            'product',
            true,
            oldName
          )
          if (image != '') {
            this.item.thumbnails = image
          }
        }
        if (image != '') {
          const response = await this.$axios.$put('Product/Update', this.item)

          if (response.isSuccess) {
            this.success()
            // this.goTo('/product')
            this.done()
          } else {
            this.danger()
            this.done()
          }
        } else {
          this.done()
        }
      }
    },
    async deleteItem(id) {
      var next = await this.confirmDeletion()

      if (next) {
        const response = await this.$axios.$delete(`Product/Delete/${id}`)

        if (response.isSuccess) {
          this.success()
          this.getData()
        } else {
          this.danger()
        }
      }
    },
  },
}
</script>

<style></style>
