<template>
    <div class="content-page">
        <div class="row mb-6">
            <div class="col-md-3">
                <SummaryItemMain></SummaryItemMain>
            </div>
            <div class="col-md-3">
                <SummaryItemMain></SummaryItemMain>
            </div>
            <div class="col-md-3">
                <SummaryItemMain></SummaryItemMain>
            </div>
            <div class="col-md-3">
                <SummaryItemMain></SummaryItemMain>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-4">
                <RevenueChart></RevenueChart>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-lg-8 col-md-6 mb-md-0 mb-4">
                <div class="card">
                    <div class="card-header pb-0">
                        <div class="row">
                            <div class="col-lg-6 col-7">
                                <h6>Projects</h6>
                                <p class="text-sm mb-0">
                                    <i class="fa fa-check text-info" aria-hidden="true"></i>
                                    <span class="font-weight-bold ms-1">30 done</span> this month
                                </p>
                            </div>
                            <div class="col-lg-6 col-5 my-auto text-end">
                                <div class="dropdown float-lg-end pe-4">
                                    <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="fa fa-ellipsis-v text-secondary"></i>
                                    </a>
                                    <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">
                                        <li><a class="dropdown-item border-radius-md" href="javascript:;">Action</a>
                                        </li>
                                        <li><a class="dropdown-item border-radius-md" href="javascript:;">Another
                                                action</a></li>
                                        <li><a class="dropdown-item border-radius-md" href="javascript:;">Something
                                                else here</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body px-0 pb-2">
                        <div class="table-responsive">
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Companies</th>
                                        <th
                                            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                            Members</th>
                                        <th
                                            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Budget
                                        </th>
                                        <th
                                            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Completion</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card h-100">
                    <div class="card-header pb-0">
                        <h6>Orders overview</h6>
                        <p class="text-sm">
                            <i class="fa fa-arrow-up text-success" aria-hidden="true"></i>
                            <span class="font-weight-bold">24%</span> this month
                        </p>
                    </div>
                    <div class="card-body p-3">

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<!-- <script src="@/assets/js/plugins/chartjs.min.js"></script> -->
<script>
import SummaryItemMain from '@/components/SummaryItemMain.vue';
import RevenueChart from '@/components/charts/RevenueChart.vue';
export default {
    head() {
        return {
            title: 'ABT - Trang chủ',
        }
    },
    components: { SummaryItemMain, RevenueChart },
    data: () => ({
        isShowPopup: false,
        isShowPopupThank: false,
    }),
    methods: {
        goTo(url) {
            this.$router.push(url)
        },

    },
    computed: {
        text() {

        },
    },
}
</script>
<style lang="scss" scoped></style>
