<template>
  <div class="content-page">
    <div class="row mb-4">
      <div class="col-12">
        <div class="card">
          <div
            class="card-body pt-2 pb-2 d-flex align-items-center justify-content-between"
          >
            <div class="left">
              <i
                @click="goTo('/account/manager')"
                class="fa-sharp fa fa-arrow-left cursor-pointer mr-3"
              ></i>
              <i @click="save()" class="fa fa-save cursor-pointer mr-3"></i>
              <i class="fa fa-trash cursor-pointer mr-3"></i>
            </div>
            <div class="right">
              <i
                class="fa fa-upload cursor-pointer"
                @click="changeTypeInsert()"
              ></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12">
        <!-- Category Item -->
        <UserItem :item="item" v-if="!isImport" />
        <!-- Import File -->
        <div class="card" v-else>
          <div class="card-body">
            <div class="d-flex align-items-center">
              <label for="" class="mr-3">Download Template: </label>
              <a href="http://localhost:31370/api/user/template" download>
                <i class="fa fa-download cursor-pointer"></i>
              </a>
            </div>
            <div class="row">
              <div class="col-md-4">
                <b-form-group
                  id="input-group-1"
                  label="Import File:"
                  label-for="input-1"
                  class="require"
                >
                  <b-form-file
                    v-model="fileUpload"
                    :state="Boolean(fileUpload)"
                    placeholder="Choose a file or drop it here..."
                    drop-placeholder="Drop file here..."
                    accept=".xlsx"
                  ></b-form-file>
                </b-form-group>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import UserItem from './user_item.vue'
export default {
  components: { UserItem },
  data() {
    return {
      isImport: false,
      item: {
        id: '',
        code: this.codeRandom('ACC'),
        firstName: '',
        lastName: '',
        fullName: '',
        type: '',
        photo: '',
      },
      fileUpload: null,
    }
  },
  watch: {},
  methods: {
    changeTypeInsert() {
      this.isImport = !this.isImport
    },
    validate() {
      if (!Boolean(this.item.code)) {
        this.danger('Code')
        return false
      }
      if (!Boolean(this.item.userName)) {
        this.danger('name')
        return false
      }
      if (!Boolean(this.item.type)) {
        this.danger('role')
        return false
      }
      if (!Boolean(this.item.firstName)) {
        this.danger('firstName')
        return false
      }
      if (!Boolean(this.item.lastName)) {
        this.danger('lasttName')
        return false
      }
      return true
    },
    async save() {
      if (!this.isImport) {
        if (!this.validate()) return
        var next = await this.confirmAction('Bạn muốn lưu người dùng này?')
        if (next) {
          const response = await this.$axios.$post('User/Insert', this.item)

          console.log(response)
          if (response.isSuccess) {
            this.success()
            this.goTo(`/account/update?id=${response.objectGuidId}`)
          } else {
            this.danger()
          }
        }
      } else {
        var next = await this.confirmAction('Bạn muốn lưu danh sách tài khoản này?')

        if (next) {
          let formData = new FormData()
          formData.append('files', this.fileUpload)
          const response = await this.$axios.$post(
            'Category/Insert/Upload',
            formData,
            {
              headers: {
                'Content-Type': `multipart/form-data;`,
              },
            }
          )

          console.log(response)
          if (response.isSuccess) {
            this.success()
            this.goTo('/category')
          } else {
            this.danger()
          }
        }
      }
    },
    goTo(url) {
      this.$router.push(url)
    },
  },
}
</script>

<style></style>
