<template>
  <div class="content-page">
    <div class="row mb-4">
      <div class="col-12">
        <div class="card">
          <div class="card-body pt-2 pb-2">
            <i @click="goTo(`${to}`)" class="fa-sharp fa fa-arrow-left cursor-pointer mr-3"></i>
            <i @click="save()" class="fa fa-save cursor-pointer mr-3"></i>
            <i class="fa fa-trash cursor-pointer mr-3"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12">
        <!-- Category Item -->
        <UserItem :item="item" />
      </div>
    </div>
  </div>
</template>

<script>
import UserItem from './user_item.vue'
export default {
  components: { UserItem },
  data() {
    return {
      item: {
        id: '',
        userCode: '',
        userName: '',
        firstName: '',
        lastName: '',
        phoneNumber: '',
        email: '',
        type: '',
        avatar: null,
      },
    }
  },
  watch: {},
  computed: {
    to() {
      switch (this.item.type) {
        case '1':
          return '/account/manager'
          break
        case '2':
          return '/account/staff'
          break
        case '3':
          return '/account/customer'
          break
      }
    }
  },
  async created() {
    // Get id
    var id = this.$route.query.id
    const response = await this.$axios.$post(`User/GetById/${id}`)
    console.log(response)
    if (response.isSuccess) {
      this.item = response.data
    }
  },
  methods: {
    validate() {
      if (!Boolean(this.item.code)) {
        this.danger()
        return false
      }
      if (!Boolean(this.item.name)) {
        this.danger()
        return false
      }
      if (!Boolean(this.item.description)) {
        this.danger()
        return false
      }
      if (!Boolean(this.item.thumbnails)) {
        this.danger()
        return false
      }
      return true
    },
    async save() {
      if (!this.validate()) return
      var next = await this.confirmAction('Bạn muốn chỉnh sửa danh mục này?')
      if (next) {
        let formData = new FormData()
        formData.append('files', this.item.thumbnails)
        formData.append('id', this.item.id)
        formData.append('code', this.item.code)
        formData.append('name', this.item.name)
        formData.append('description', this.item.description)

        const response = await this.$axios.$put('User/Update', formData, {
          headers: {
            'Content-Type': `multipart/form-data`,
          },
        })

        if (response.isSuccess) {
          this.success()
          this.goTo('/user')
        } else {
          this.danger()
        }
      }
    },
    goTo(url) {
      this.$router.push(url)
    },
  },
}
</script>

<style></style>
