<template>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-3">
          <b-img
            :src="
              checkType
                ? 'https://cdn3.vectorstock.com/i/1000x1000/30/97/flat-business-man-user-profile-avatar-icon-vector-4333097.jpg'
                : imageSrc
            "
            class="mb-3"
            fluid
            block
            rounded
          ></b-img>
          <b-form-group id="input-group-1" label-for="input-1" class="">
            <b-form-file
              v-model="item.photo"
              accept=".jpg, .png, .gif"
            ></b-form-file>
          </b-form-group>
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-4">
              <b-form-group
                id="input-group-1"
                label="Code:"
                label-for="input-1"
                class=""
              >
                <b-form-input
                  id="input-1"
                  v-model="item.code"
                  type="text"
                  placeholder="Enter name"
                  :state="Boolean(item.code)"
                  disabled
                ></b-form-input>
              </b-form-group>
            </div>
            <div class="col-md-4">
              <b-form-group
                id="input-group-1"
                label="User Name:"
                label-for="input-1"
                class="require"
              >
                <b-form-input
                  id="input-1"
                  v-model="item.userName"
                  type="text"
                  placeholder="Enter name"
                  :state="Boolean(item.userName)"
                  required
                ></b-form-input>
              </b-form-group>
            </div>
            <div class="col-md-4">
              <b-form-group
                id="input-group-1"
                label="Role:"
                label-for="input-3"
                class="require"
              >
                <b-form-select
                  id="input-3"
                  v-model="item.type"
                  :state="Boolean(item.type)"
                  required
                >
                  <b-form-select-option :value="''"
                    >Please select role</b-form-select-option
                  >
                  <b-form-select-option
                    v-for="(item, i) in lstRole"
                    :key="i"
                    :value="item.key"
                    >{{ item.value }}</b-form-select-option
                  ></b-form-select
                >
              </b-form-group>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <b-form-group
                id="input-group-1"
                label="First Name:"
                label-for="input-1"
                class="require"
              >
                <b-form-input
                  id="input-1"
                  v-model="item.firstName"
                  type="text"
                  placeholder="Enter name"
                  :state="Boolean(item.firstName)"
                  required
                ></b-form-input>
              </b-form-group>
            </div>
            <div class="col-md-4">
              <b-form-group
                id="input-group-1"
                label="Last Name:"
                label-for="input-1"
                class="require"
              >
                <b-form-input
                  id="input-1"
                  v-model="item.lastName"
                  type="text"
                  placeholder="Enter name"
                  :state="Boolean(item.lastName)"
                  required
                ></b-form-input>
              </b-form-group>
            </div>
            <div class="col-md-4">
              <b-form-group
                id="input-group-1"
                label="Full Name:"
                label-for="input-1"
                class=""
              >
                <b-form-input
                  id="input-1"
                  type="text"
                  :placeholder="fullName"
                  disabled
                ></b-form-input>
              </b-form-group>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <b-form-group
                id="input-group-1"
                label="Phone Number:"
                label-for="input-1"
                class="require"
              >
                <b-form-input
                  id="input-1"
                  v-model="item.phoneNumber"
                  type="text"
                  placeholder="Enter Phone"
                  :state="Boolean(item.phoneNumber)"
                  required
                ></b-form-input>
              </b-form-group>
            </div>
            <div class="col-md-4">
              <b-form-group
                id="input-group-1"
                label="Email:"
                label-for="input-1"
                class=""
              >
                <b-form-input
                  id="input-1"
                  v-model="item.email"
                  type="text"
                  placeholder="Enter mail"
                ></b-form-input>
              </b-form-group>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const base64Encode = (data) =>
  new Promise((resolve, reject) => {
    const reader = new FileReader()
    reader.readAsDataURL(data)
    reader.onload = () => resolve(reader.result)
    reader.onerror = (error) => reject(error)
  })
export default {
  props: ['item'],
  data() {
    return {
      imageSrc: null,
      tmp: null,
    }
  },
  created() {},
  computed: {
    dumThumbnail() {
      return this.item.photo
    },
    checkType() {
      return typeof this.dumThumbnail == 'object' || typeof this.dumThumbnail == 'string'
    },
    fullName() {
      return `${this.item.firstName} ${this.item.lastName}`
    },
  },
  watch: {
    dumThumbnail(newValue, oldValue) {
      if (typeof this.item.photo != 'string') {
        if (newValue !== oldValue) {
          if (newValue) {
            base64Encode(newValue)
              .then((value) => {
                this.imageSrc = value
              })
              .catch(() => {
                this.imageSrc = null
              })
          } else {
            this.imageSrc = this.item.photo
          }
        }
      }
    },
  },
}
</script>

<style></style>
