<template>
  <div class="content-page">
    <b-overlay :show="this.IsLoading" rounded="sm">
      <div class="row mb-4">
        <div class="col-12">
          <div class="card">
            <div class="card-body pt-2 pb-2 d-flex align-items-center justify-content-between">
              <div class="left">
                <i @click="goTo('/store')" class="fa-sharp fa fa-arrow-left cursor-pointer mr-3"></i>
                <i @click="save()" class="fa fa-save cursor-pointer mr-3"></i>
                <i class="fa fa-trash cursor-pointer mr-3"></i>
              </div>
              <div class="right">
                <i class="fa fa-upload cursor-pointer" @click="changeTypeInsert()"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12">
          <!-- Store Item -->
          <StoreItem :item="item" />
        </div>
      </div>
    </b-overlay>
  </div>
</template>

<script>
import StoreItem from './store_item.vue'
export default {
  components: {
    StoreItem,
  },
  data() {
    return {
      item: {
        id: '',
        code: this.codeRandom('ST'),
        name: '',
        address: '',
        latitude: '0',
        longitude: '0',
        phone: '',
        timeJson: '8h AM đến 21h PM'
      },
    }
  },
  methods: {
    validate() {
      if (!Boolean(this.item.name)) {
        this.danger('name')
        return false
      }
      if (!Boolean(this.item.phone)) {
        this.danger('phone')
        return false
      }
      if (!Boolean(this.item.address)) {
        this.danger('phone')
        return false
      }
      return true
    },
    async save() {
      if (!this.validate()) return
      var next = await this.confirmAction('Bạn muốn lưu cửa hàng này?')
      if (next) {
        this.start()
        const response = await this.$axios.$post('Store/Insert', this.item)
        console.log(response);
        if (response.isSuccess) {
          this.success()
          this.goTo(`/store/update?id=${response.objectGuidId}`)
          this.done()
        } else {
          this.danger()
          this.done()
        }
      }
    }
  }
}
</script>

<style></style>
