<template>
  <div class="content-page">
    <b-overlay :show="this.IsLoading" rounded="sm">
      <div class="row mb-4">
        <div class="col-md-3">
          <SummaryItem class="bg-01" :pFigure="metadata.totalCount" pName="Total Store"></SummaryItem>
        </div>
        <!-- <div class="col-md-3">
          <SummaryItem class="bg-03" :pFigure="0" pName="Total Category"></SummaryItem>
        </div>
        <div class="col-md-3">
          <SummaryItem class="bg-02" :pFigure="0" pName="Active Product"></SummaryItem>
        </div> -->
        <div class="col-md-3">
          <SummaryItem class="bg-04" :pFigure="0" pName="Added in week"></SummaryItem>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-8">
          <div class="card d-flex justify-content-center">
            <div class="action px-4 d-flex align-items-center">
              <i class="fa fa-cog cursor-pointer mr-3"></i>
              <i @click="goTo('/store/create')" class="fa fa-plus cursor-pointer mr-3"></i>
              <i class="fa fa-eye cursor-pointer mr-3"></i>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card">
            <div class="card-header pb-0 pt-2"></div>
            <div class="action px-4">
              <b-form-input id="input-search" v-model="searchText" type="text" placeholder="Search ..." required
                :disabled="IsEdit"></b-form-input>
            </div>
            <div class="card-body pt-0 pb-2"></div>
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12">
          <div class="card">
            <create-table :metadata="metadata" @select-page="selectPage">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="opacity-7 ps-2 w-5">
                      <b-form-checkbox @change="changeSelect($event)" />
                    </th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 w-5">
                      No
                    </th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 w-10">
                      Code
                    </th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 w-20">
                      Tên
                    </th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                      Vị Trí
                    </th>
                    <th class="text-secondary opacity-7 w-20"></th>
                  </tr>
                </thead>
                <tbody v-if="lstItem.length != 0">
                  <tr v-for="(item, i) in lstItem" :key="i" @dblclick="goTo(`/store/update?id=${item.id}`)">
                    <th>
                      <b-form-checkbox v-model="item.selected" :value="!item.selected" />
                    </th>
                    <td>
                      <label for="" class="text-xs font-weight-bold px-2">{{
                        i + 1
                      }}</label>
                    </td>
                    <td>
                      <label for="" class="text-xs font-weight-bold px-2">{{
                        item.code
                      }}</label>
                    </td>
                    <td>
                      <label for="" class="text-xs font-weight-bold px-2">{{
                        item.name
                      }}</label>
                    </td>
                    <td>
                      <label for="" class="text-xs font-weight-bold px-2">{{
                        item.address
                      }}</label>
                    </td>
                    <td>
                      <div class="d-flex justify-content-center">
                        <i class="fa fa-edit cursor-pointer mr-3" @click="goTo(`/store/update?id=${item.id}`)"></i>
                        <i class="fa fa-trash cursor-pointer mr-3" @click="deleteItem(item.id)"></i>
                      </div>
                    </td>
                  </tr>
                </tbody>
                <tbody v-else>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="">
                      <div class="table-empty w-100 mt-3 d-flex flex-column align-items-center justify-content-center">
                        <img src="~/static/empty.png" alt="" width="60" height="60" />
                        <p class="mt-1">The table is empty</p>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </create-table>
          </div>
        </div>
      </div>
    </b-overlay>
  </div>
</template>

<script>
export default {
  data: () => ({
    ecoParameters: {
      pageNumber: 1,
      pageSize: 10,
      skip: 0,
      top: 10,
      orderBy: '',
      filter: '',
      isDropdown: false,
      searchValue: '',
      searchText: '',
    },
    metadata: {
      currentPage: 0,
      hasNext: false,
      hasPrevious: false,
      pageSize: 0,
      totalCount: 0,
      totalPages: 0,
    },
    lstItem: [],
    searchText: ''
  }),
  async created() {
    await this.getData()
  },
  watch: {
    async searchText() {
      this.ecoParameters.searchText = this.searchText
      await this.getData();
    }
  },
  computed: {

  },
  methods: {
    async getData() {
      this.start()
      const response = await this.$axios.post(
        'Store/GetListAllStore',
        this.ecoParameters
      )
      console.log(response)
      if (response.status == 200) {
        this.lstItem = response.data.items
        this.metadata = response.data.metadata
        this.done()
      }
    },
    // #region TABLE
    async selectPage(page) {
      console.log(page)
      this.ecoParameters.skip = (page - 1) * this.ecoParameters.pageSize
      this.ecoParameters.top = this.ecoParameters.pageSize
      await this.getData()
    },
    // #endregion
  }
}
</script>

<style></style>
