<template>
  <div class="card">
    <div class="card-body">
      <div class="row mb-4">
        <div class="col-md-4">
          <b-form-group id="input-group-1" label="Code:" label-for="input-1" class="">
            <b-form-input id="input-1" v-model="item.code" type="text" placeholder="Enter code" :disabled="true"></b-form-input>
          </b-form-group>
        </div>
        <div class="col-md-4">
          <b-form-group id="input-group-1" label="Name:" label-for="input-1" class="require">
            <b-form-input id="input-1" v-model="item.name" type="text" placeholder="Enter name"
              :state="Boolean(item.name)" required></b-form-input>
          </b-form-group>
        </div>
        <div class="col-md-4">
          <b-form-group id="input-group-1" label="Description:" label-for="input-1" class="">
            <b-form-input id="input-1" v-model="item.description" type="text"
              placeholder="Enter description"></b-form-input>
          </b-form-group>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-6">
          <GgMap />
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-12">
              <b-form-group id="input-group-1" label="Full Address:" label-for="input-1" class="">
                <b-form-input id="input-1" v-model="item.address" type="text" placeholder="Enter Address"
                  :state="Boolean(item.address)" required></b-form-input>
              </b-form-group>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <b-form-group id="input-group-1" label="Lat:" label-for="input-1" class="">
                <b-form-input id="input-1" v-model="item.latitude" type="text" placeholder="Enter lat"></b-form-input>
              </b-form-group>
            </div>
            <div class="col-6">
              <b-form-group id="input-group-1" label="Long:" label-for="input-1" class="">
                <b-form-input id="input-1" v-model="item.longitude" type="text" placeholder="Enter long"></b-form-input>
              </b-form-group>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <b-form-group id="input-group-1" label="Phone Number:" label-for="input-1" class="require">
                <b-form-input id="input-1" v-model="item.phone" type="text" placeholder="Enter phone" :state="Boolean(item.phone)"></b-form-input>
              </b-form-group>
            </div>
            <div class="col-6">
              <b-form-group id="input-group-1" label="Time:" label-for="input-1" class="require">
                <b-form-input id="input-1" v-model="item.timeJson" type="text" disabled></b-form-input>
              </b-form-group>
            </div>
          </div>
        </div>
      </div>
      <!-- Image Store -->
      <div class="row mb-4">
        <div class="col-12">
          <b-form-group label="Store Images:" label-for="store-images" class="">
            <div class="file-content d-flex">
              <div class="wrap-list-image">
                <div class="store-image" :v-if="lstStoreImgDisplay.length > 0" v-for="(item, i) in lstStoreImgDisplay"
                  :key="i">
                  <img width="90" :src="item" alt="" @click="preview(lstStoreImgDisplay, i+1)">
                </div>
              </div>
              <add-file @AddFile="btnAdd()" class="mx-3"></add-file>
              <input type="file" @change="onFileChange" ref="fileInput" v-show="false">
            </div>
          </b-form-group>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const base64Encode = (data) =>
  new Promise((resolve, reject) => {
    const reader = new FileReader()
    reader.readAsDataURL(data)
    reader.onload = () => resolve(reader.result)
    reader.onerror = (error) => reject(error)
  })
export default {
  props: ['item'],
  data() {
    return {
      lstStore: [],
      lstStoreImgDisplay: [],
    }
  },
  methods: {
    btnAdd() {
      this.$refs.fileInput.click()
    },
    onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length)
        return;
      this.lstStore.push(files[0])
      this.urlFromFile(files[0]);
    },
    urlFromFile(file) {
      var url = ''
      console.log(file);
      base64Encode(file).then((value) => {
        url = value
        this.lstStoreImgDisplay.push(url)
      })
    }
  },
}
</script>

<style lang="scss" scoped>
.wrap-list-image {
  display: flex;
  align-items: center;

  img{
    margin: 0 10px;
    cursor: pointer;
  }
}
</style>
