<template>
  <div class="content-page">
    <div class="row mt-5 d-flex align-items-center justify-content-center">
      <div class="col-md-4">
        <b-form-group
          id="input-group-1"
          label="User Name:"
          label-for="input-1"
          class="require"
        >
          <b-form-input
            id="input-1"
            v-model="login.username"
            type="text"
            placeholder="Enter description"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          id="input-group-2"
          label="Password:"
          label-for="input-2"
          class="require"
        >
          <b-form-input
            id="input-2"
            v-model="login.password"
            type="password"
            placeholder="Enter password"
            required
          ></b-form-input>
        </b-form-group>
        <div class="login">
          <b-button @click="btnlogin()" class="w-100" variant="outline-info"
            >Button</b-button
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'blog',
  data() {
    return {
      login: {
        username: '',
        password: '',
      },
    }
  },
  methods: {
    async btnlogin() {
      try {
        const response = await this.$axios.post('Auth/Login', {
          userName: this.login.username,
          password: this.login.password,
        })
        console.log(response)
        this.$router.push('/')
        this.success('', 'Đăng nhập thành công')
      } catch (error) {
        console.log(error)
        this.danger()
      }
    },
  },
}
</script>

<style></style>
