<template>
    <div class="add-file" @click="$emit('AddFile')">
        <img src="@/assets/icon/icAdd.png" width="30" alt="" srcset="">
    </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
.add-file {
    width: 90px;
    height: 110px;
    border: 1px dashed black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    cursor: pointer;

    img {
        transition: 0.2s ease-in-out;
    }


    &:hover {
        img {
            transform: scale(1.3);
        }
    }
}
</style>