<template>
  <div class="table">
    <b-overlay :show="IsLoading" rounded="sm">
      <slot />
    </b-overlay>
    <div
      class="footer w-100 d-flex align-items-center justify-content-between mt-3"
    >
      <div class="right">
        <div class="">
          <span class="ml-3"
            >Page {{ metadata.currentPage }} of {{ metadata.totalPages }} .
            Total Items: {{ metadata.totalCount }}</span
          >
        </div>
      </div>
      <div class="left">
        <i
          class="fa fa-chevron-left cursor-pointer mr-3"
          @click="
            selectPage(
              metadata.currentPage - 1 == 0 ? 1 : metadata.currentPage - 1
            )
          "
        ></i>
        <span
          :class="
            metadata.currentPage == i
              ? 'page-number text-white cursor-pointer bg-gradient-primary mx-1'
              : 'page-number text-black cursor-pointer  mx-1'
          "
          v-for="i in metadata.totalPages"
          :key="i"
          @click="selectPage(i)"
          >{{ i }}</span
        >
        <i
          class="fa fa-chevron-right cursor-pointer mx-3"
          @click="
            selectPage(
              metadata.currentPage + 1 > metadata.totalPages
                ? 1
                : metadata.currentPage + 1
            )
          "
        ></i>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['metadata', 'IsLoading'],
  methods: {
    selectPage(page) {
      this.$emit('select-page', page)
    },
  },
}
</script>

<style lang="scss" scoped>
.page-number {
  padding: 7px 8px;
  border-radius: 6px;
  text-align: center;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: rgba(199, 199, 199, 0.2);
  }
}
</style>
