<template>
  <fieldset class="doft-fieldset p-3">
    <!-- Title -->
    <div class="title">
      <slot name="title" />
      <!-- <legend  class="float-none w-auto p-2">Your Legend</legend> -->
    </div>
    <!-- Content -->
    <div class="child-content">
      <slot name="child-content" />
    </div>
  </fieldset>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
.doft-fieldset {
  position: relative;
  border: 1px solid #dadfe2;
  border-radius: 10px;
  .title{
    position: absolute;
    top: -22px;
    left: 44px;
    background-color: #fff;
    padding: 0px 10px;
    height: 40px !important;
    display: flex;
    align-items: center;
    justify-content: center;

    span{
      color: #88989b;
    }
  }

  .child-content{
    margin-top: 25px;
  }
}
</style>