<template>
  <div class="card-overall d-flex align-items-center">
    <div class="px-1 w-90 d-flex align-items-center justify-content-around">
        <div class="d-flex ml-2 flex-column align-items-center justify-content-center">
            <h1 class="amount">{{ pFigure }}</h1>
            <span>{{ pName }}</span>
        </div>
        <div class="">
            <img src="@/assets/icon/icProduct.png" width="80" alt="" srcset="">
        </div>
    </div>
  </div>
</template>

<script>
export default {
    props: ['pFigure', 'pName']
}
</script>

<style>

</style>