<template>
  <div class="content-page">
    <div class="row mb-4">
      <div class="col-12">
        <div class="card">
          <div class="card-header pb-0 pt-2"></div>
          <div class="action px-4">
            <i class="fa fa-cog cursor-pointer mr-3"></i>
            <i @click="goTo('/account/create')" class="fa fa-plus cursor-pointer mr-3"></i>
            <i class="fa fa-eye cursor-pointer mr-3"></i>
          </div>
          <div class="card-body pt-0 pb-2"></div>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12">
        <div class="card">
          <create-table :metadata="metadata" @select-page="selectPage">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 w-5">
                    No
                  </th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 w-10">
                    Code
                  </th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 w-20">
                    Tên Nhân Viên
                  </th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 w-20">
                    Tên đăng nhập
                  </th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 w-5">
                    Số điện thoại
                  </th>
                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, i) in lstItem.filter(x => x.type == '1')" :key="i">
                  <td>
                    <label for="" class="text-xs font-weight-bold px-2">{{
                      i + 1
                    }}</label>
                  </td>
                  <td>
                    <label for="" class="text-xs font-weight-bold">{{
                      item.code
                    }}</label>
                  </td>
                  <td>
                    <img :src="item.photo" width="50">
                    <label for="" class="text-xs font-weight-bold">{{ item.firstName }}{{ item.lastName }}</label>
                  </td>
                  <td>
                    <label for="" class="text-xs font-weight-bold">{{
                      item.userName
                    }}</label>
                  </td>
                  <td>
                    <label for="" class="text-xs font-weight-bold">{{
                      item.phoneNumber
                    }}</label>
                  </td>
                  <td>
                    <div class="d-flex justify-content-center">
                      <i class="fa fa-edit cursor-pointer mr-3" @click="goTo(`/account/update?id=${item.id}`)"></i>
                      <i class="fa fa-trash cursor-pointer mr-3" @click="deleteItem()"></i>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </create-table>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  head() {
    return {
      title: 'ABT - Trang chủ',
    }
  },
  components: {},
  data: () => ({
    ecoParameters: {
      pageNumber: 1,
      pageSize: 10,
      skip: 0,
      top: 10,
      orderBy: '',
      filter: '',
      isDropdown: false,
      searchValue: '',
      searchText: '',
    },
    metadata: {
      currentPage: 0,
      hasNext: false,
      hasPrevious: false,
      pageSize: 0,
      totalCount: 0,
      totalPages: 0,
    },
    lstItem: [],
  }),
  async created() {
    await this.getData()
  },
  methods: {
    async getData() {
      this.ecoParameters.filter = '1'
      const response = await this.$axios.post(
        'User/GetListAllUser',
        this.ecoParameters
      )
      console.log(response)
      if (response.status == 200) {
        this.lstItem = response.data.items
        this.metadata = response.data.metadata
      }
    },
    goTo(url) {
      this.$router.push(url)
    },
    async deleteItem() {
      var next = await this.confirmDeletion()

      if (next) {
      }
    },
    // #region TABLE
    async selectPage(page) {
      this.ecoParameters.skip = (page - 1) * this.ecoParameters.pageSize
      this.ecoParameters.top = this.ecoParameters.pageSize
      await this.getData()
    },
  },
  computed: {
    text() { },
  },
}
</script>
<style lang="scss" scoped></style>
