<template>
  <div>
    <div class="row">
      <div class="col-md-4">
        <b-form-group id="input-group-1" label="Code:" label-for="input-1" class="require">
          <b-form-input id="input-1" v-model="category.code" type="text" placeholder="Enter code"
            :state="Boolean(category.code)" required></b-form-input>
        </b-form-group>
      </div>
      <div class="col-md-4">
        <b-form-group id="input-group-1" label="Name:" label-for="input-1" class="require">
          <b-form-input id="input-1" v-model="category.name" type="text" placeholder="Enter name"
            :state="Boolean(category.name)" required></b-form-input>
        </b-form-group>
      </div>
      <div class="col-md-4">
        <b-form-group id="input-group-1" label="Description:" label-for="input-1" class="require">
          <b-form-input id="input-1" v-model="category.description" type="text" placeholder="Enter description"
            :state="Boolean(category.description)" required></b-form-input>
        </b-form-group>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <b-form-group id="input-group-1" label="Description:" label-for="input-1" class="require"
          :description="dumThumbnail ? category.thumbnails.name : ''">
          <b-form-file v-model="category.thumbnails" :state="Boolean(dumThumbnail)"
            placeholder="Choose a file or drop it here..." drop-placeholder="Drop file here..."
            accept=".jpg, .png, .gif"></b-form-file>
        </b-form-group>
      </div>
      <div class="col-md-4">
        <b-img :src="checkType ? this.category.thumbnails : imageSrc" class="mb-3" fluid block rounded></b-img>
      </div>
    </div>
  </div>
</template>

<script>
const base64Encode = (data) =>
  new Promise((resolve, reject) => {
    const reader = new FileReader()
    reader.readAsDataURL(data)
    reader.onload = () => resolve(reader.result)
    reader.onerror = (error) => reject(error)
  })
export default {
  props: ['category'],
  data() {
    return {
      imageSrc: null,
      tmp: null,
    }
  },
  created() { },
  computed: {
    dumThumbnail() {
      return this.category.thumbnails
    },
    checkType() {
      return typeof this.category.thumbnails == 'string'
    },
  },
  watch: {
    dumThumbnail(newValue, oldValue) {
      if (typeof this.category.thumbnails != 'string') {
        if (newValue !== oldValue) {
          if (newValue) {
            base64Encode(newValue)
              .then((value) => {
                this.imageSrc = value
              })
              .catch(() => {
                this.imageSrc = null
              })
          } else {
            this.imageSrc = this.category.thumbnails
          }
        }
      }
    },
  },
}
</script>

<style></style>
