<template>
  <div class="content-page">
    <b-overlay :show="this.IsLoading" rounded="sm">
      <div class="row mb-4">
        <div class="col-12">
          <div class="card">
            <div
              class="card-body pt-2 pb-2 d-flex align-items-center justify-content-between"
            >
              <div class="left">
                <i
                  @click="goTo('/category')"
                  class="fa-sharp fa fa-arrow-left cursor-pointer mr-3"
                ></i>
                <i @click="save()" class="fa fa-save cursor-pointer mr-3"></i>
                <i class="fa fa-trash cursor-pointer mr-3"></i>
              </div>
              <div class="right">
                <i
                  class="fa fa-upload cursor-pointer"
                  @click="changeTypeInsert()"
                ></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12">
          <!-- Category Item -->
          <CategoryItem :category="category" v-if="!isImport" />
          <!-- Import File -->
          <div class="card" v-else>
            <div class="card-body">
              <div class="d-flex align-items-center">
                <label for="" class="mr-3">Download Template: </label>
                <a href="http://localhost:31370/api/Category/template" download>
                  <i class="fa fa-download cursor-pointer"></i>
                </a>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <b-form-group
                    id="input-group-1"
                    label="Import File:"
                    label-for="input-1"
                    class="require"
                    :description="dumThumbnail ? category.thumbnails.name : ''"
                  >
                    <b-form-file
                      v-model="fileUpload"
                      :state="Boolean(fileUpload)"
                      placeholder="Choose a file or drop it here..."
                      drop-placeholder="Drop file here..."
                      accept=".xlsx"
                    ></b-form-file>
                  </b-form-group>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </b-overlay>
  </div>
</template>

<script>
import CategoryItem from './category_item.vue'
export default {
  components: { CategoryItem },
  data() {
    return {
      isImport: false,
      category: {
        id: '',
        code: '',
        name: '',
        description: '',
        thumbnails: null,
      },
      fileUpload: null,
    }
  },
  watch: {},
  methods: {
    changeTypeInsert() {
      this.isImport = !this.isImport
    },
    validate() {
      if (!Boolean(this.category.code)) {
        this.danger('Code')
        return false
      }
      if (!Boolean(this.category.name)) {
        this.danger('name')
        return false
      }
      if (!Boolean(this.category.description)) {
        this.danger('description')
        return false
      }
      if (!Boolean(this.category.thumbnails)) {
        this.danger('thumbnails')
        return false
      }
      return true
    },
    async save() {
      if (!this.isImport) {
        if (!this.validate()) return
        var next = await this.confirmAction('Bạn muốn lưu danh mục này?')
        if (next) {
          this.start()
          let formData = new FormData()
          formData.append('files', this.category.thumbnails)
          formData.append('code', this.category.code)
          formData.append('name', this.category.name)
          formData.append('description', this.category.description)

          const response = await this.$axios.$post(
            'Category/Insert',
            formData,
            {
              headers: {
                'Content-Type': `multipart/form-data; boundary=${formData.getBoundary}`,
              },
            }
          )

          console.log(response)
          if (response.isSuccess) {
            this.success()
            this.done()
            this.goTo('/category')
          } else {
            this.danger()
            this.done()
          }
        }
      } else {
        var next = await this.confirmAction('Bạn muốn lưu danh mục này?')

        if (next) {
          this.start()
          let formData = new FormData()
          formData.append('files', this.fileUpload)
          const response = await this.$axios.$post(
            'Category/Insert/Upload',
            formData,
            {
              headers: {
                'Content-Type': `multipart/form-data;`,
              },
            }
          )

          console.log(response)
          if (response.isSuccess) {
            this.success()
            this.goTo('/category')
            this.done()
          } else {
            this.danger()
            this.done()
          }
        }
      }
    },
    goTo(url) {
      this.$router.push(url)
    },
  },
}
</script>

<style></style>
