<template>
  <div class="content-page">
    <b-overlay :show="this.IsLoading" rounded="sm">
      <div class="row mb-4">
        <div class="col-md-3">
          <SummaryItem
            class="bg-01"
            :pFigure="metadata.totalCount"
            pName="Total Category"
          ></SummaryItem>
        </div>
        <!-- <div class="col-md-3">
          <SummaryItem class="bg-03" :pFigure="0" pName="Total Category"></SummaryItem>
        </div>
        <div class="col-md-3">
          <SummaryItem class="bg-02" :pFigure="0" pName="Active Product"></SummaryItem>
        </div> -->
        <div class="col-md-3">
          <SummaryItem
            class="bg-04"
            :pFigure="30"
            pName="Added in week"
          ></SummaryItem>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-8">
          <div class="card d-flex justify-content-center">
            <div class="action px-4 d-flex align-items-center">
              <i class="fa fa-cog cursor-pointer mr-3"></i>
              <i
                @click="goTo('/category/create')"
                class="fa fa-plus cursor-pointer mr-3"
              ></i>
              <i class="fa fa-eye cursor-pointer mr-3"></i>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card">
            <div class="card-header pb-0 pt-2"></div>
            <div class="action px-4">
              <b-form-input
                id="input-search"
                v-model="searchText"
                type="text"
                placeholder="Search ..."
                required
                :disabled="IsEdit"
              ></b-form-input>
            </div>
            <div class="card-body pt-0 pb-2"></div>
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12">
          <div class="card">
            <create-table :metadata="metadata" @select-page="selectPage">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th
                      class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 w-5"
                    >
                      No
                    </th>
                    <th
                      class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 w-10"
                    >
                      Code
                    </th>
                    <th
                      class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 w-30"
                    >
                      Tên danh mục
                    </th>
                    <th
                      class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 w-30"
                    >
                      Mô tả
                    </th>
                    <th
                      class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 w-5"
                    >
                      Số lượng sản phẩm
                    </th>
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="(item, i) in lstCategory"
                    :key="i"
                    @dblclick="goTo(`/category/update?id=${item.id}`)"
                  >
                    <td>
                      <label for="" class="text-xs font-weight-bold px-2">{{
                        i + 1
                      }}</label>
                    </td>
                    <td>
                      <label for="" class="text-xs font-weight-bold">{{
                        item.code
                      }}</label>
                    </td>
                    <td>
                      <img :src="item.thumbnails" width="50">
                      <label for="" class="text-xs font-weight-bold">{{
                        item.name
                      }}</label>
                    </td>
                    <td>
                      <label for="" class="text-xs font-weight-bold">{{
                        item.description
                      }}</label>
                    </td>
                    <td>
                      <label for="" class="text-xs font-weight-bold">{{
                        item.description
                      }}</label>
                    </td>
                    <td>
                      <div class="d-flex justify-content-center">
                        <i
                          class="fa fa-edit cursor-pointer mr-3"
                          @click="goTo(`/category/update?id=${item.id}`)"
                        ></i>
                        <i
                          class="fa fa-trash cursor-pointer mr-3"
                          @click="deleteItem()"
                        ></i>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </create-table>
          </div>
        </div>
      </div>
    </b-overlay>
  </div>
</template>
<script>
import CreateTable from '../../components/CreateTable.vue'
import SummaryItem from '../../components/SummaryItem.vue'
export default {
  head() {
    return {
      title: 'ABT - Trang chủ',
    }
  },
  components: { CreateTable, SummaryItem },
  data: () => ({
    ecoParameters: {
      pageNumber: 1,
      pageSize: 10,
      skip: 0,
      top: 10,
      orderBy: '',
      filter: '',
      isDropdown: false,
      searchValue: '',
      searchText: '',
    },
    metadata: {
      currentPage: 0,
      hasNext: false,
      hasPrevious: false,
      pageSize: 0,
      totalCount: 0,
      totalPages: 0,
    },
    lstCategory: [],
    lstProduct: [],
    searchText: '',
  }),
  async created() {
    await this.getData()
  },
  watch: {
    async searchText() {
      this.ecoParameters.searchText = this.searchText
      await this.getData()
    },
  },
  methods: {
    async getData() {
      this.start()
      const response = await this.$axios.post(
        'Category/GetListAll',
        this.ecoParameters
      )
      console.log(response)
      if (response.status == 200) {
        this.lstCategory = response.data.items
        this.metadata = response.data.metadata
        this.done()
      }
    },
    // #region TABLE
    async selectPage(page) {
      this.ecoParameters.skip = (page - 1) * this.ecoParameters.pageSize
      this.ecoParameters.top = this.ecoParameters.pageSize
      await this.getData()
    },
    // #endregion
    async deleteItem() {
      var next = await this.confirmDeletion()

      if (next) {
      }
    },
  },
  computed: {
    text() {},
  },
}
</script>
<style lang="scss" scoped></style>
