<template>
  <div class="content-page">
    <div class="row mb-4">
      <div class="col-12">
        <div class="card">
          <div class="card-body pt-2 pb-2">
            <i @click="goTo('/category')" class="fa-sharp fa fa-arrow-left cursor-pointer mr-3"></i>
            <i @click="save()" class="fa fa-save cursor-pointer mr-3"></i>
            <i class="fa fa-trash cursor-pointer mr-3"></i>
          </div>
        </div>
      </div>
    </div>
    <!-- Category Item -->
    <div class="row mb-4">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <CategoryItem :category="category" />
            <!-- Product Item -->
            <Fieldset>
              <template #title>
                <span>Danh sách sản phẩm</span>
              </template>
              <template #child-content>
                <div>
                  <div class="row">
                    <create-table :metadata="metadata" @select-page="selectPage">
                      <table class="table align-items-center mb-0">
                        <thead>
                          <tr>
                            <th class="opacity-7 ps-2 w-5">
                              <b-form-checkbox @change="changeSelect($event)" />
                            </th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                              No
                            </th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                              Code
                            </th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                              Tên
                            </th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 w-20">
                              Mô tả
                            </th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 w-10">
                              Giá
                            </th>
                            <th class="text-secondary opacity-7"></th>
                          </tr>
                        </thead>
                        <tbody v-if="lstProduct.length != 0">
                          <tr v-for="(item, i) in lstProduct" :key="i" @dblclick="goTo(`/product/update?id=${item.id}`)">
                            <th>
                              <b-form-checkbox v-model="item.selected" :value="!item.selected" />
                            </th>
                            <td>
                              <label for="" class="text-xs font-weight-bold px-2">{{
                                i + 1
                              }}</label>
                            </td>
                            <td>
                              <label for="" class="text-xs font-weight-bold">{{
                                item.code
                              }}</label>
                            </td>
                            <td>
                              <label for="" class="text-xs font-weight-bold">{{
                                item.name
                              }}</label>
                            </td>
                            <td>
                              <label for="" class="text-xs font-weight-bold">{{
                                item.description
                              }}</label>
                            </td>
                            <td>
                              <label for="" class="text-xs font-weight-bold">{{
                                currency(item.price)
                              }}</label>
                            </td>
                          </tr>
                        </tbody>
                        <tbody v-else>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="">
                              <div
                                class="table-empty w-100 mt-3 d-flex flex-column align-items-center justify-content-center">
                                <img src="~/static/empty.png" alt="" width="60" height="60" />
                                <p class="mt-1">The table is empty</p>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </create-table>
                  </div>
                </div>
              </template>
            </Fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CategoryItem from './category_item.vue'
export default {
  components: { CategoryItem },
  data() {
    return {
      category: {
        id: '',
        code: '',
        name: '',
        description: '',
        thumbnails: null,
      },
      lstProduct: [],
      ecoParameters: {
        pageNumber: 1,
        pageSize: 10,
        skip: 0,
        top: 10,
        orderBy: '',
        filter: '',
        isDropdown: false,
        searchValue: '',
        searchText: '',
      },
      metadata: {
        currentPage: 0,
        hasNext: false,
        hasPrevious: false,
        pageSize: 0,
        totalCount: 0,
        totalPages: 0,
      },
    }
  },
  watch: {},
  async created() {
    // Get id
    var id = this.$route.query.id
    const response = await this.$axios.$post(`Category/GetById/${id}`)
    console.log(response)
    if (response.isSuccess) {
      this.category = response.data

      await this.getProductByCategory()
    }
  },
  methods: {
    validate() {
      if (!Boolean(this.category.code)) {
        this.danger()
        return false
      }
      if (!Boolean(this.category.name)) {
        this.danger()
        return false
      }
      if (!Boolean(this.category.description)) {
        this.danger()
        return false
      }
      if (!Boolean(this.category.thumbnails)) {
        this.danger()
        return false
      }
      return true
    },
    async save() {
      if (!this.validate()) return
      var next = await this.confirmAction('Bạn muốn chỉnh sửa danh mục này?')
      if (next) {
        let formData = new FormData()
        formData.append('files', this.category.thumbnails)
        formData.append('id', this.category.id)
        formData.append('code', this.category.code)
        formData.append('name', this.category.name)
        formData.append('description', this.category.description)

        const response = await this.$axios.$put('Category/Update', formData, {
          headers: {
            'Content-Type': `multipart/form-data`,
          },
        })

        if (response.isSuccess) {
          this.success()
          this.goTo('/category')
        } else {
          this.danger()
        }
      }
    },
    async getProductByCategory() {
      this.ecoParameters.filter = `(s.CategoryCode.ToString().Contains("${this.category.code}"))`
      const response = await this.$axios.$post(
        `Product/GetListAllProduct`,
        this.ecoParameters
      )
      console.log(response)
      this.lstProduct = response.items
      this.metadata = response.metadata
    },
    // #region TABLE
    async selectPage(page) {
      console.log(page)
      this.ecoParameters.skip = (page - 1) * this.ecoParameters.pageSize
      this.ecoParameters.top = this.ecoParameters.pageSize
      await this.getProductByCategory()
    },
    // #endregion
  },
}
</script>

<style></style>
